<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>專輯圖片詳情頁</title>
		<link rel="stylesheet" href="/src/css/common/bootstrap.min.css">
		<link rel="stylesheet" href="/src/css/common/yez_css_Reset.css">
		<link rel="stylesheet" href="/src/css/common/common.css">
		<link rel="stylesheet" href="/src/css/social/easylive/easylivealbum/albumclassification/albumlistdetail/albumphotodetail/albumphotodetail.css">
		<script src="//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
		<script src="/src/js/common/frameDomainJSON.js"></script>
		<script src="/src/js/common/getData/getData_sinple.js"></script>
		<script>easyBuy.social.isEasyLife = true;easyBuy.global.hasNav = false;</script>
	</head>
	<body>
		<div id="swapper">
			<header></header>
       		<div id="searchBar">
				<div class="searchBox">
					<div class="searchBox_mainBox clearfloat">
						<div class="searchBox_left">
							<ul class="clearfloat">
								<li><a href="http://social.macaoeasybuy.com/easylive/easyliveglobalgoods/globalgoods.html">全球筍貨</a></li>
								<li><a href="http://social.macaoeasybuy.com/easylive/easylivewelfare/easylivewelfare.html">福利社</a></li>
								<li><a href="//social.macaoeasybuy.com/easylive/easylivebuytopic/easylivebuytopic.html">宜買話題</a></li>
								<li><a href="//social.macaoeasybuy.com/easylive/easylivelifecircle/easylivelifecircle.html">生活圈</a></li>
								<li><a href="//social.macaoeasybuy.com/easylive/easylivelog/easylivelog.html">宜粉日誌</a></li>
								<li class="select"><a href="//social.macaoeasybuy.com/easylive/easylivealbum/easylivealbum.html">宜粉專輯</a></li>
							</ul>
						</div>
						<div class="searchBox_right" id="searchBox_rightBox"></div>
					</div>
				</div>
			</div>
			<div id="container">
				<div class="container-swapper">
					<div class="person clearfloat">

						<div class="person-left">
							<div class="person-swapper">
								<div class="publisherMessBox clearfloat">
									<div class="messBox_pic" id="messBox_pic">
										<img src="/src/img/common/headPic.png">
									</div>
									<div class="messBox_mess">
										<div class="messBox_mess_name" id="other-mess-name">
											<span>思思</span>
											<div>
												<img src="/src/img/common/sex.png">
											</div>
										</div>
										<div class="messBox_mess_time" id="messBox_mess_time">
											<p class="articleType">發佈自：<span>休閒生活</span></p>
											<p>發佈時間：<span>2016-04-29&nbsp;18:01:09</span></p>
										</div>
									</div>
									<div class="messBox_logo">
										<img src="/src/img/social/easylive/albumlistdetail/photo-detail-logo.png" alt="">
									</div>
								</div>
								<div class="showPicBox">
									<div class="foodBanner">
										<ul id="foodBannerul">

										</ul>
									</div>
								</div>
								<div class="articleBox">
									<div class="atricle_title clearfloat">
										<div>
											<span>上傳時間：</span>
											<span>2016-9-9</span>
											<span>10:00:00</span>
										</div>
										<div id="collects">我要採集</div>
									</div>
									<div class="articleMain">
										<p>簡直是帥呆了！昨天有人說那店搞特價，只賣一天，迫我馬上連夜坐船去香港旺角，排了三個小時的隊，終於終於買到了。簡直是帥呆了！昨天有人說那店搞特價，只賣一天，迫我馬上連夜坐船去香港旺角，排了三個小時的隊，終於終於買到了。</p>
									</div>
								</div>
								<div class="articleOpera">
									<ul class="clearfloat">
										<li>
											<div class="thumbs_up no-click">
												<img src="/src/img/social/liveshot/ProdigalPostDetail/thumbs.png">
											</div>
											<div class="thumbs_up click">
												<img src="/src/img/social/liveshot/ProdigalPostDetail/thumbsup.png">
											</div>
											<p>值得讚好</p>
										</li>
										<li>
											<div class="article_share">
												<img src="/src/img/social/liveshot/ProdigalPostDetail/share.png">
											</div>
											<p>分享好友</p>
										</li>
										<li>
											<div class="article_report">
												<img src="/src/img/social/liveshot/ProdigalPostDetail/report.png">
											</div>
											<p>違規舉報</p>
										</li>
									</ul>
								</div>
							</div>

							<div class="reply-box">
								<div class="statistics">
									<ul class="statistics-title clearfloat">
										<li class="select">
											<div class="statistics-bubble">
												<div>1234</div>
												<div><img src="/src/img/common/message.png" alt="">宜粉回應</div>
												<img src="/src/img/social/liveshot/ProdigalTopicList/prodigalOfficialPost/arrow.png" alt="" class="arrow">
											</div>
										</li>
										<li>
											<div class="statistics-bubble">
												<div>1234</div>
												<div><img src="/src/img/common/eye.png" alt="">宜粉查看</div>
												<img src="/src/img/social/liveshot/ProdigalTopicList/prodigalOfficialPost/arrow.png" alt="" class="arrow">
											</div>
										</li>
										<li>
											<div class="statistics-bubble">
												<div>1234</div>
												<div><img src="/src/img/common/good.png" alt="">宜粉讃好</div>
												<img src="/src/img/social/liveshot/ProdigalTopicList/prodigalOfficialPost/arrow.png" alt="" class="arrow">
											</div>
										</li>
									</ul>
									<div class="statistics-page">
										<ul class="select person-messaage scrollIe scrollOther statistics-page-item">
											<div class="innerDiv">
												<script id="response" type="text/html">
													<%if(response.length != 0){%>
														<%for(var i=0;i<response.length;i++){%>
														<li class="clearfloat">
															<div class="person-head"><img src="<%=response[i].headImg%>" alt=""></div>
															<div class="person-info">
																<div class="person-info-name">
																	<%=response[i].name%>
																	<% if(response[i].sex == 'boy'){ %>
																	<img src="/src/img/common/boy.png" alt="">
																	<% }else if(response[i].sex == 'girl'){%>
																	<img src="/src/img/common/girl.png" alt="">
																	<%}%> ：
																</div>
																<div class="person-info-contain clearfloat">
																	<div class="person-info-text">
																		<%=response[i].article%>
																	</div>
																	<div class="person-info-revert">回應</div>
																</div>
																<div class="person-info-time"><span><%=response[i].time%></span>秒前發佈</div>
																<ul class="person-info-record">
																	<% if(response[i].otherResponse.length > 0){ %>
																	<%for(var j=0;j<response[i].otherResponse.length;j++){%>
																	<li class="clearfloat">
																		<div class="person-info-record-head"></div>
																		<div class="person-info-record-info">
																			<div class="person-info-name">
																				<%=response[i].otherResponse[j].name%>
																				<% if(response[i].otherResponse[j].sex == 'boy'){ %>
																				<img src="/src/img/common/boy.png" alt="">
																				<% }else if(response[i].otherResponse[j].sex == 'girl'){%>
																				<img src="/src/img/common/girl.png" alt="">
																				<%}%> ：
																			</div>
																			<div class="person-info-contain clearfloat">
																				<div class="person-info-text">
																					<%=response[i].otherResponse[j].article%>
																				</div>
																			</div>
																			<div class="person-info-time"><span><%=response[i].otherResponse[j].time%></span>秒前發佈</div>
																		</div>
																	</li>
																	<%}%>
																	<%}%>
																</ul>
															</div>
														</li>
														<%}%>
													<%}else{%>
														<div class="no-more-good">
															<div class="img"><img src="/src/img/social/liveshot/ProdigalTopicList/no-record.png" alt=""></div>
															<div class="title">暫無宜粉回應</div>
															<div class="title">來成為第一個回應的宜粉吧</div>
															<div class="no-btn">去回應</div>
														</div>
													<%}%>
												</script>
											</div>
										</ul>
										<ul class="person-check checkAndGood scrollIe scrollOther clearfloat statistics-page-item">
											<p>最近查看の宜粉</p>
											<div class="innerDiv clearfloat">
												<script id="check" type="text/html">
													<% for(var k=0;k<check.length;k++){%>
													<li>
														<a href="">
															<div class="respondBox_fandPic">
																<img src="<%=check[k].headImg%>">
															</div>
															<div class="respondBox_fansMess clearfloat">
																<div>
																	<%=check[k].name%>
																</div>
																<div>
																	<% if(check[k].sex == 'boy'){ %>
																	<img src="/src/img/common/boy.png" alt="">
																	<% }else if(check[k].sex == 'girl'){%>
																	<img src="/src/img/common/girl.png" alt="">
																	<%}%>
																</div>
															</div>
														</a>
													</li>
													<%}%>
												</script>
											</div>
										</ul>
										<ul class="person-good checkAndGood scrollIe scrollOther clearfloat statistics-page-item">
											<p>最近讃好の宜粉</p>
											<div class="innerDiv clearfloat">
												<script id="good" type="text/html">
													<%if(good.length != 0){%>
													<% for(var a=0;a<good.length;a++){%>
													<li>
														<a href="">
															<div class="respondBox_fandPic">
																<img src="<%=good[a].headImg%>">
															</div>
															<div class="respondBox_fansMess clearfloat">
																<div>
																	<%=good[a].name%>
																</div>
																<div>
																	<% if(good[a].sex == 'boy'){ %>
																	<img src="/src/img/common/boy.png" alt="">
																	<% }else if(good[a].sex == 'girl'){%>
																	<img src="/src/img/common/girl.png" alt="">
																	<%}%>
																</div>
															</div>
														</a>
													</li>
													<%}%>
													<%}else{%>
														<div class="no-more-good">
															<div class="img"><img src="/src/img/social/liveshot/ProdigalTopicList/no-good.png" alt=""></div>
															<div class="title">暫無宜粉讃好</div>
															<div class="title">給帖主一點點鼓勵吧</div>
															<div class="no-btn">值得讃好</div>
														</div>
													<%}%>
												</script>
											</div>
										</ul>
									</div>
								</div>
							</div>

						</div>

						<div class="person-right">

							<div class="album-box">
								<div class="album-info clearfloat">
									<div class="album-cover"></div>
									<div class="album-detail-info">
										<div class="album-detail-info-title">來自：<span>《少女打辦專輯》</span></div>
										<div class="clearfloat album-detail-info-come">
											<div>專輯圈：<span>28</span>張</div>
											<div>分類：<span>精心打扮</span></div>
										</div>
										<ul>
											<li><img src="/src/img/userspace/userspace_postDetails/icon/respond_answer.png">45宜粉留言</li>
											<li><img src="/src/img/userspace/userspace_postDetails/icon/respond_thumbsup.png">1,123宜粉讃好</li>
											<li><img src="/src/img/userspace/userspace_postDetails/icon/respond_see.png">45宜粉查看</li>
											<li><img src="/src/img/userspace/userspace_postDetails/icon/cai.png">88宜粉採集</li>
										</ul>
									</div>
								</div>
								<div class="album-photo scrollIe scrollOther">
									<div class="album-photo-inner">
										<script id="album-photo" type="text/html">
											<%for(var i=0;i<searchResult.length;i++){%>
												<div class="photo-items">
													<img src="<%=searchResult[i].img%>" alt="">
													<div class="photo-items-filter"></div>
												</div>
											<%}%>
										</script>
									</div>
								</div>
							</div>

							<div class="album-collect">
								<div class="has-album-collect">
									<div class="collect-title">宜粉採集到...</div>
									<div class="collect-box scrollIe scrollOther">
										<div class="collect-box-inner">
											<script id="collect-photo" type="text/html">
												<%for(var i=0;i<searchResult.length;i++){%>
													<div class="collect-items clearfloat">
														<div class="collect-photo"></div>
														<div class="collect-info">
															<div class="collecter clearfloat">
																<div class="myborder-radius"><img src="/src/img/common/headPic_noBorder.png" alt=""></div>
																<span>ASd</span>
																<img src="/src/img/common/boy.png" alt="" class="sex">
															</div>
															<div class="collecter-title">採集到：<span>《裝扮狗》</span></div>
															<div class="collecter-number">專輯圈：<span>188</span>張</div>
															<div class="collecter-time"><span>1分鐘</span>前</div>
														</div>
													</div>
													<div class="collect-items clearfloat">
														<div class="collect-photo"></div>
														<div class="collect-info">
															<div class="collecter clearfloat">
																<div class="myborder-radius"><img src="/src/img/common/headPic_noBorder.png" alt=""></div>
																<span>ASd</span>
																<img src="/src/img/common/boy.png" alt="" class="sex">
															</div>
															<div class="collecter-title">採集到：<span>《裝扮狗》</span></div>
															<div class="collecter-number">專輯圈：<span>188</span>張</div>
															<div class="collecter-time"><span>1分鐘</span>前</div>
														</div>
													</div>
												<%}%>
											</script>
										</div>
									</div>
								</div>
								<div class="nohas-album">
									<div class="img"><img src="/src/img/social/liveshot/ProdigalTopicList/no-record.png" alt=""></div>
									<div class="title">暫無宜粉採集哦！</div>
									<div class="title">來成為第一個採集的宜粉吧</div>
									<div class="no-btn">我要採集</div>
								</div>
							</div>

							<div class="what-say">
								<div class="has-say">
									<div class="say-text">我想說說...</div>
									<div class="replyBox_inputBar">
										<div class="replyBox_inputBox">
											<div class="replyBox_input">
												<div class="scrollIe" placeholder="回應即可賺取一積分哦"></div>
											</div>
										</div>
									</div>
									<div class="replyBox_toolBox clearfloat">
										<div class="replyBox_add">
											<ul class="replyBox_addUl clearfloat">
												<li class="emjoPop"><img src="/src/img/social/liveshot/ProdigalPostDetail/add_face.png" alt=""></li>
												<li class="metiondPop"><img src="/src/img/social/liveshot/ProdigalPostDetail/add_@.png" alt=""></li>
												<li class="addLabel"><img src="/src/img/social/liveshot/ProdigalPostDetail/add_labelIcon.png" alt=""></li>
											</ul>
										</div>
										<div class="replyBox_sendMess">
											<div>
												<img src="/src/img/social/liveshot/ProdigalPostDetail/sendMessButton.png">
											</div>
											<span>送出消息</span>
										</div>
									</div>
								</div>
								<div class="nohas-say">
									<div class="no-login-icon"><img src="/src/img/common/noResult.png" alt=""></div>
									<div class="no-login-tips-text">未登入無法留言哦！</div>
									<div class="clearfloat no-login-tips-btn">
										<div>馬上登入</div>
										<div>馬上註冊</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="all-look">
						<div class="title">宜粉們都在看</div>
						<div class="all-main scrollIe scrollOther">
							<div class="all-main-container clearfloat">
								<script id="all-look" type="text/html">
									<%for(var i=0;i<searchResult.length;i++){%>
										<div class="album-list">
											<div class="album-relative">
												<div class="album-list-title">女生攝影</div>
												<div class="album-top-img"><img src="/src/img/social/easylive/album-recommend-list1.png" alt=""></div>
												<div class="album-img-list clearfloat">
													<img src="/src/img/social/easylive/myimg.png" alt="">
													<img src="/src/img/social/easylive/myimg.png" alt="">
													<img src="/src/img/social/easylive/myimg.png" alt="">
													<img src="/src/img/social/easylive/myimg.png" alt="">
												</div>
												<div class="album-state clearfloat">
													<div><img src="/src/img/social/easylive/album-classification-eye.png" alt="">1234</div>
													<div><img src="/src/img/social/easylive/album-classification-mes.png" alt="">1234</div>
													<div><img src="/src/img/social/easylive/album-classification-good.png" alt="">1234</div>
													<div><img src="/src/img/social/easylive/album-classification-cai.png" alt="">1234</div>
												</div>
												<div class="album-poster">
													<div class="laster-look clearfloat">
														<div class="laster-head"><img src="/src/img/common/headPic.png" alt=""></div>
														<div class="laster-text">
															<div class="laster-text-name">Ada<img src="/src/img/common/girl.png" alt=""></div>
															<div class="laster-text-num"><span>1分鐘</span>前發佈</div>
														</div>
													</div>
												</div>
												<div class="shadow-box"></div>
											</div>
											<div class="bottom-shadow"><img src="/src/img/social/label/labeldetail/hobg.png" alt=""></div>
										</div>
									<%}%>
								</script>
							</div>
						</div>
						<div class="all-look-bottom">
							<a href="">查看更多敗家誌帖子<span class="bottom-arrow">>></span></a>
						</div>
					</div>
				</div>

			</div>
			<footer></footer>
			<!--採集專輯框-->
			<div id="album-collect">
				<div class="collect-shadow"></div>
				<div class="collect-box">
					<img src="/src/img/social/easylive/close-collect.png" alt="" class="close-collect">
					<div class="collect-title">採集圖片</div>
					<div class="collect-inner">
						<div class="collect-tips">您可以把這些圖片收藏至您的專屬專輯中哦！</div>
						<ul class="collect-imgs">
							<li class="clearfloat">
								<div class="collect-img-shadow"></div>
								<div class="collect-img"></div>
								<textarea class="collect-describe scrollIe scrollOther"  cols="45" wrap="hard"></textarea>
							</li>
						</ul>
						<div class="collect-tips">我要收藏在新專輯：</div>
						<div class="collect-create clearfloat">
							<input type="text" class="collect-input">
							<div class="create-btn">創建</div>
						</div>
						<div class="collect-tips">我要收藏在以下專輯：</div>
						<div class="collect-list">
							<div class="collect-list-title"></div>
							<ul class="clearfloat scrollIe scrollOther">
								<li>
									<div class="collect-list-div">
										<img class="collect-list-div-img" src="/src/img/social/easylive/album-recommend-list1.png" alt="">
										<div class="img-number">12</div>
										<div class="collect-select"><img src="/src/img/social/easylive/collect-select.png" alt=""></div>
									</div>
									<div class="collect-list-div">吃飯啦</div>
								</li>
								<li>
									<div class="collect-list-div">
										<img class="collect-list-div-img" src="/src/img/social/easylive/album-recommend-list1.png" alt="">
										<div class="img-number">12</div>
										<div class="collect-select"><img src="/src/img/social/easylive/collect-select.png" alt=""></div>
									</div>
									<div class="collect-list-div">吃飯啦</div>
								</li>
								<li>
									<div class="collect-list-div">
										<img class="collect-list-div-img" src="/src/img/social/easylive/album-recommend-list1.png" alt="">
										<div class="img-number">12</div>
										<div class="collect-select"><img src="/src/img/social/easylive/collect-select.png" alt=""></div>
									</div>
									<div class="collect-list-div">吃飯啦</div>
								</li>
								<li>
									<div class="collect-list-div">
										<img class="collect-list-div-img" src="/src/img/social/easylive/album-recommend-list1.png" alt="">
										<div class="img-number">12</div>
										<div class="collect-select"><img src="/src/img/social/easylive/collect-select.png" alt=""></div>
									</div>
									<div class="collect-list-div">吃飯啦</div>
								</li>
							</ul>
						</div>
						<div class="want-collect cannot-collect">收藏至專輯</div>
					</div>
				</div>
			</div>
			<div id="album-gone">
				<div class="album-gone-bg"></div>
				<div class="album-gone-box">
					<div class="album-gone-box-title">提示信息</div>
					<div class="album-gone-box-inner">
						<div class="album-gone-tips clearfloat">
							<div class="album-tips-img"><img src="/src/img/common/noResult.png" alt=""></div>
							<div class="album-tips-text">
								<div>該專輯已不存在！</div>
								<div>可能原因</div>
								<div>-該專輯已被主人刪除了</div>
								<div>-該專輯已被管理員違規處理</div>
							</div>
						</div>
						<div class="other-album">
							<div class="other-album-title">您可以觀看愛蓮其他專輯：</div>
							<div class="other-album-box scrollIe scrollOther clearfloat">
								<div class="other-album-items">
									<div class="other-album-items-img">
										<div class="other-album-shadow">
											<img src="/src/img/social/easylive/collect-select.png" alt="">
										</div>
										<div class="other-album-photo-number">20</div>
									</div>
									<div class="other-alubm-items-name">《吃飯啦》</div>
								</div>
								<div class="other-album-items">
									<div class="other-album-items-img">
										<div class="other-album-shadow">
											<img src="/src/img/social/easylive/collect-select.png" alt="">
										</div>
										<div class="other-album-photo-number">20</div>
									</div>
									<div class="other-alubm-items-name">《吃飯啦》</div>
								</div>
								<div class="other-album-items">
									<div class="other-album-items-img">
										<div class="other-album-shadow">
											<img src="/src/img/social/easylive/collect-select.png" alt="">
										</div>
										<div class="other-album-photo-number">20</div>
									</div>
									<div class="other-alubm-items-name">《吃飯啦》</div>
								</div>
								<div class="other-album-items">
									<div class="other-album-items-img">
										<div class="other-album-shadow">
											<img src="/src/img/social/easylive/collect-select.png" alt="">
										</div>
										<div class="other-album-photo-number">20</div>
									</div>
									<div class="other-alubm-items-name">《吃飯啦》</div>
								</div>
								<div class="other-album-items">
									<div class="other-album-items-img">
										<div class="other-album-shadow">
											<img src="/src/img/social/easylive/collect-select.png" alt="">
										</div>
										<div class="other-album-photo-number">20</div>
									</div>
									<div class="other-alubm-items-name">《吃飯啦》</div>
								</div>
							</div>
						</div>
					</div>
					<div class="album-gone-btn clearfloat">
						<div>前往觀看</div>
						<div>返回</div>
					</div>
				</div>
			</div>
		</div>
	</body>

    <script src="/src/js/plug/yez_js_Reset.js"></script>
    <script src="/src/js/common/vendor/art-template-3.1.0.min.js"></script>
	<script src="/src/js/common/vendor-extend/atr-template.extend.js"></script>
    <script src="/src/js/common/header&search&footer/searchBar.js" async></script>
    <script src="/src/js/common/header&search&footer/footer.js" async></script>
	<script src="/src/js/common/header&search&footer/header.js"></script>
	<script src="/src/js/social/common/post_common.js"></script>
	<script src="/src/js/social/easylive/easylivealbum/albumclassification/albumlistdetail/albumphotodetail/albumphotodetail.js"></script>
	<script src="/src/js/social/easylive/easylivealbum/albumclassification/albumlistdetail/albumphotodetail/albumphotodetail_data.js"></script>

	<script id="bannerPic" type="text/html">
		<li>
			<img middle="true" src="//wap.macaoeasybuy.com<%=result.pic%>" onerror="this.onerror=null;this.src='/img/common/loadnow_jpg'">
		</li>
	</script>
	<!-- <script id="publisherMessBox" type="text/html">
		<div class="publisherMessBox clearfloat">
			<div class="messBox_pic">
				<img src="/src/img/common/headPic.png">
			</div>
			<div class="messBox_mess">
				<div class="messBox_mess_name">
					<span>思思</span>
					<div>
						<img src="/src/img/common/sex.png">
					</div>
				</div>
				<div class="messBox_mess_time">
					<p class="articleType">發佈自：<span>休閒生活</span></p>
					<p>發佈時間：<span>2016-04-29&nbsp;18:01:09</span></p>
				</div>
			</div>
			<div class="messBox_logo">
				<img src="/src/img/social/easylive/albumlistdetail/photo-detail-logo.png" alt="">
			</div>
		</div>
	</script> -->
</html>
