<!doctype html>
<html class="no-js" lang="zh-cmn-Hant">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>用戶空間</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/src/css/common/normalize.css">
    <link rel="stylesheet" href="/src/css/common/reset.css">
    <link rel="stylesheet" href="/src/css/common/common.css">
    <link rel="stylesheet" href="/src/css/userspace/main.css">
    <script src="//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<div id="userspace">
    <header id="page-header"></header>
    <main id="page-main">
        <div id="left-menu"></div>
        <div id="right-content">
            <div id="user-info"></div>
            <div class="e-container">
                <div class="white-container">
                    <ul id="space-nav" class="space-nav"></ul>
                    <ul id="news-push"></ul>
                </div>
                <div id="userspace-content" class="userspace-content" data-type="">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </main>
    <footer id="page-footer"></footer>
</div>
<script src="/src/js/common/easyframe.js"></script>
<script src="/src/js/common/vendor/modernizr-3.5.0.min.js"></script>
<script src="/src/js/common/art-template-3.1.0.js"></script>
<script src="/src/js/common/vendor/socketio.min.js"></script>
<script src="/src/js/common/vendor/imagesloaded-4.1.4.min.js"></script>
<script src="/src/js/userspace/main.js"></script>
<!-- 当前空间的用户信息 -->
<script type="text/template" data-art-template="userInfo">
    <div class="userinfo-panel">
            <div class="user-head clearfloat">
                <div class="head-img myborder-radius"><img src="<%=image(userPic)%>" class="head-pic"></div>
                <div class="head-info">
                    <div>用戶暱稱：<span class="user-name-top"><%=userName%></span><img src="<%=easySex(sex)%>" class="sex"></div>
                    <div>寵物等級：<img src="<%=petGradePic !== '' && (oss + petGradePic)%>" class="pet" onerror="this.style.display='none'"><span
                        class="pet-level"><%=petGradeName%></span></div>
                    <div>用戶身份：<span class="identity">&nbsp;<%=userIdentity ? userIdentity : '普通用戶'%></span></div>
                </div>
            </div>
            <div class="user-looking-set-point-user-box">
                <% if(isSelf == 1) { %>
                <div class="user-looking point-select-different">有<%=seeNum%>個宜粉正在訪問您</div>
                <% } else { %>
                <div class="set-point-user-box">
                    <div id="follows-btn" class="set-point-user point-select-different">
                        <span id="follows-show"><%=isAttented === 0 ? '關注' : '已關注對方' + attentionTime%></span>
                        <span id=""></span>
                    </div>
                </div>
                <% } %>
            </div>
            <ul class="clearfloat">
                <li id="go-editor-userinfo" class="">
                    <a class="go-editor-userinfo-inner"
                       href="/page/userspace/personalinfo/infoview/information/information.html">
                        <div>個人</div>
                        <div>資料</div>
                    </a>
                    <img src="/src/img/userspace/common/friend-arrow1.png">
                </li>
                <li><div><%=publishCount%></div><div>發佈</div></li>
                <li><div><%=attentionCount%></div><div>關注</div></li>
                <li><div><%=fansCount%></div><div>粉絲</div></li>
                <li><img src="/src/img/userspace/common/code.png"></li>
            </ul>
    </div>
    <div class="user-info-bg">
        <img src="/src/img/userspace/common/userin_1.png">
    </div>

    <div id="user-info-success"><img src="/src/img/social/label/labeldetail/fancurr.png">已成功關注該宜粉！</div>
    <div id="user-info-focus-box">
        <div class="shadow"></div>
        <div class="cancel-tips-box">
            <div class="cancels-title">取消關注好友</div>
            <div>
                <div class="cancels-xc"><img src="/src/img/common/02.png"></div>
                <div class="cancel-tips-text">不再關注該好友了嗎？</div>
                <div class="clearfloat sure-button">
                    <div class="sure-cancel">確認</div>
                    <div class="cancel-sure">取消</div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- 左侧浮动的导航栏-->
<script type="text/template" data-art-template="leftmenu">
    <ul>
        <li id="index-leftmenu">
            <div><img src="/src/img/userspace/common/leftmenu/userin_ic0.png"></div>
            <div><span>我的<br>首頁</span></div>
        </li>
        <li id="easylife-leftmenu">
            <div><img src="/src/img/userspace/common/leftmenu/userin_ic1.png"></div>
            <div><span>宜生活</span></div>
        </li>
        <li id="setinfo-leftmenu">
            <div><img src="/src/img/userspace/common/leftmenu/userin_ic2.png"></div>
            <div><span>個人<br>設置</span></div>
        </li>
        <li id="sendpost-leftmenu">
            <div><img src="/src/img/userspace/common/leftmenu/userin_ic3.png"></div>
            <div><span>發佈<br>帖子</span></div>
        </li>
        <li id="inform-leftmenu">
            <div><img src="/src/img/userspace/common/leftmenu/userin_ic4.png"></div>
            <div><span>通知<br>消息</span></div>
        </li>
        <li id="peep-leftmenu">
            <div><img src="/src/img/userspace/common/leftmenu/userin_ic5.png"></div>
            <div><span>誰來<br>偷看</span></div>
        </li>
        <li id="findfriend-leftmenu">
            <div><img src="/src/img/userspace/common/leftmenu/userin_ic6.png"></div>
            <div><span>查找<br>宜粉</span></div>
        </li>
    </ul>
    <div id="sendpost-leftmenu-box">
        <div class="release-shadow"></div>
        <div class="release-box">
            <img src="/src/img/common/tips-box/img-upload-close.png" class="cancel-btn">
            <ul class="clearfloat">
                <li class="clearfloat" id="userReleaseNumber-postclick">
                    <a href="/page/userspace/publish/pubilsh_diary.html">
                        <div><img src="/src/img/userspace/common/leftmenu/userin_ica4.png"></div>
                        <div>
                            <div>日誌</div>
                            <div>我要發佈我的生活文</div>
                            <p>他們已發佈了<span>&nbsp;</span>篇</p>
                        </div>
                    </a>
                </li>
                <li class="clearfloat" id="userSentVolunteersNumber-postclick">
                    <a href="/page/userspace/publish/pubilsh_liveshot.html">
                        <div><img src="/src/img/userspace/common/leftmenu/userin_ica7.png"></div>
                        <div>
                            <div>敗家誌</div>
                            <div>我要發佈我的嗮單</div>
                            <p>他們已發佈了<span>&nbsp;</span>篇</p>
                        </div>
                    </a>
                </li>
                <li class="clearfloat" id="userAlbumNumber-postclick">
                    <a href="/page/userspace/publish/pubilsh_album.html">
                        <div><img src="/src/img/userspace/common/leftmenu/userin_ica5.png"></div>
                        <div>
                            <div>專輯</div>
                            <div>我要發佈我的美美圖冊</div>
                            <p>他們已發佈了<span>&nbsp;</span>篇</p>
                        </div>
                    </a>
                </li>
                <li class="clearfloat" id="userUsedNumber-postclick">
                    <a href="/page/userspace/publish/pubilsh_secondHand.html">
                        <div><img src="/src/img/userspace/common/leftmenu/userin_ica8.png"></div>
                        <div>
                            <div>二手</div>
                            <div>我要為閒置物找到好主人</div>
                            <p>他們已發佈了<span>&nbsp;</span>篇</p>
                        </div>
                    </a>
                </li>
                <li class="clearfloat" id="userSuitableLifeNumber-postclick">
                    <a href="/page/userspace/publish/pubilsh_group.html">
                        <div><img src="/src/img/userspace/common/leftmenu/userin_ica6.png"></div>
                        <div>
                            <div>生活圈</div>
                            <div>我要發佈圈中話題</div>
                            <p>他們已發佈了<span>&nbsp;</span>篇</p>
                        </div>
                    </a>
                </li>
                <li class="clearfloat" id="userFairNumber-postclick">
                    <a href="/page/userspace/publish/pubilsh_market.html">
                        <div><img src="/src/img/userspace/common/leftmenu/userin_ica9.png"></div>
                        <div>
                            <div>市集</div>
                            <div>我要擺攤出售雜貨</div>
                            <p>他們已發佈了<span>&nbsp;</span>篇</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</script>
<!-- 左侧的空间导航栏 -->
<script type="text/template" data-art-template="whitemenu">
    <li data-space-type="dynamic">
        <span>動態</span><span></span>
    </li>
    <li data-space-type="love">
        <span>心動</span><span><%=userAllLoveNumber%></span>
    </li>
    <li data-space-type="praise">
        <span>贊好</span><span><%=userLikeNumber%></span>
    </li>
    <li data-space-type="daily">
        <span>日誌</span><span><%=userReleaseNumber%></span>
    </li>
    <li data-space-type="album">
        <span>專輯</span><span><%=userAlbumNumber%></span>
    </li>
    <li data-space-type="life">
        <span>生活圈</span><span><%=userSuitableLifeNumber%></span>
    </li>
    <li data-space-type="buy">
        <span>敗家誌</span><span><%=userSentVolunteersNumber%></span>
    </li>
    <li data-space-type="used">
        <span>二手</span><span><%=userUsedNumber%></span>
    </li>
    <li data-space-type="fair">
        <span>市集</span><span><%=userFairNumber%></span>
    </li>
    <li data-space-type="label">
        <span>標籤</span><span><%=userLabelControlNumber%></span>
    </li>
    <li data-space-type="shop">
        <span>關注的商店</span><span><%=userAttentionShopNumber%></span>
    </li>
    <li data-space-type="relation">
        <span>好友與粉絲</span><span></span>
    </li>
</script>
<!-- 左侧的新品栏 -->
<script type="text/template" data-art-template="newspush">
    <div class="news-push-title clearfloat">
        <div>新品推送</div>
        <div>更多></div>
    </div>
    <div class="news-push-box">
        <div class="news-push-box-inner">
            <li>
                <div class="news-push-shop clearfloat">
                    <div class="shop-head"><img src="/src/img/social/easylive/album-recommend-list1.png"></div>
                    <div class="shop-info">
                        <div>店主：番薯</div>
                        <div>2015-15-88</div>
                        <div>17:88:66</div>
                    </div>
                </div>
                <div class="news-push-shops">
                    <div class="shop-title">今日上新貨了哦，只賣6.5折，打到骨折為止！</div>
                    <div class="shop-img">
                        <img src="/src/img/e8f08dcc7ec6e4a62d7add2bf6689dca6d5474e572992-9eTnKp.jpg">
                    </div>
                    <div class="shop-price clearfloat">
                        <div>原價：<span>MOP 250</span></div>
                        <div>現價：<span>MOP 111</span></div>
                    </div>
                    <div class="save-for">為您節省MOP 37</div>
                </div>
            </li>
        </div>
    </div>
</script>
<script type="text/template" data-art-template="dynamic">
  <div class="dynamic-type-tabs" data-active="0">
    <div class="tab">
        <div class="tab-info">
            <p class="info-title">好友日誌</p>
            <p class="info-news"></p>
        </div>
    </div>
    <div class="tab">
        <div class="tab-info">
            <p class="info-title">好友專輯</p>
            <p class="info-news"></p>
        </div>
    </div>
    <div class="tab">
        <div class="tab-info">
            <p class="info-title">好友生活圈</p>
            <p class="info-news"></p>
        </div>
    </div>
    <div class="tab">
        <div class="tab-info">
            <p class="info-title">好友敗家誌</p>
            <p class="info-news"></p>
        </div>
    </div>
    <div class="tab">
        <div class="tab-info">
            <p class="info-title">好友二手</p>
            <p class="info-news"></p>
        </div>
    </div>
    <div class="tab">
        <div class="tab-info">
            <p class="info-title">好友市集</p>
            <p class="info-news"></p>
        </div>
    </div>
  </div>
  <div class="sort-order-tabs" data-active="0">
    <div class="tab">按發佈時間排序</div>
    <div class="tab">按回覆數排序</div>
    <div class="tab">按贊好數排序</div>
  </div>
  <div class="dynamic-content" data-active="0">
    <div class="sort-box"></div>
    <div class="sort-box"></div>
    <div class="sort-box"></div>
  </div>
</script>
<script type="text/template" data-art-template="dynamic-daily">
  <%for(var i=0, item; item = content[i++];) {%>
    <div class="diary-item dynamic-item">
        <div class="item-body">
            <div class="page-main">
                <a href=""><img src="<%=image(item.pictureurl)%>" class="page-main-head-img"></a>
                <div class="post-main-text">
                    <div class="post-title"><%=item.titlename%></div>
                    <div class="post-description"><%=item.contents%></div>
                </div>
            </div>
            <div class="laster">
                <ul class="laster-num clearfloat">
                    <li><%=formatNums(item.seeNums)%></li>
                    <li><%=formatNums(item.loveNums)%></li>
                    <li><%=formatNums(item.commentNums)%></li>
                </ul>
                <div class="item-user-info">
                    <div class="info-poster-avatar"><img src="<%=image(item.userPic)%>"></div>
                    <div class="info-post-info">
                        <div class="info-poster-name"><span><%=item.name%></span><%=#sexIcon(item.sex)%></div>
                        <div class="info-post-time"><%=item.uptime%>前發佈</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}%>
</script>
<script type="text/template" data-art-template="dynamic-album">
  <%for(var i=0, item; item = content[i++];) {%>
    <div class="album-item dynamic-item">
        <div class="album-relative item-body">
            <div class="album-list-title"><%=item.classname%></div>
            <%if(item.extra_Pic.length !== 0) {%>
            <div class="album-img-none-box">
                <div class="album-top-img">
                    <img src="//wap.macaoeasybuy.com<%=item.extra_Pic[0]%>">
                </div>
                <div class="album-img-list clearfloat">
                    <%for(var p=1, picURL; picURL = item.extra_Pic[p++];) {%>
                  <img src="//wap.macaoeasybuy.com<%=picURL%>">
                    <%}%>
                </div>
            </div>
            <%}%>
            <div class="album-state clearfloat">
                <div><img src="/src/img/social/easylive/album-classification-eye.png"><%=item.seeNums%></div>
                <div><img src="/src/img/social/easylive/album-classification-mes.png"><%=item.collectNums%></div>
            </div>
            <div class="album-poster">
                <div class="item-user-info">
                    <div class="info-poster-avatar"><img src="//wap.macaoeasybuy.com<%=item.userPic%>"></div>
                    <div class="info-post-info">
                        <div class="info-poster-name"><span><%=item.name%></span><%=#sexIcon(item.sex)%></div>
                        <div class="info-post-time"><%=item.uptime%>前發佈</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <%}%>
</script>
<script type="text/template" data-art-template="dynamic-life">
  <%for(var i=0, item; item = content[i++];) {%>
    <div class="living-circle-item dynamic-item">
        <div class="pillar item-body">
            <div class="page-main">
                <div class="item-user-info">
                    <div class="info-poster-avatar"><img src="<%=image(item.userPic)%>"></div>
                    <div class="info-post-info">
                        <div class="info-poster-name"><span><%=item.name%></span><%=#sexIcon(item.sex)%></div>
                        <div class="info-post-time"><%=item.uptime%>前發佈</div>
                    </div>
                </div>
                <a href="" class="e-img"><img src="<%=image(item.pictureurl)%>"></a>
                <div class="post-main-text">
                    <div class="post-title"><%=item.titlename%><span>/<%=item.typename%>/</span></div>
                    <div class="post-description"><%=item.lifecontent%></div>
                </div>
            </div>
            <div class="laster">
                <ul class="laster-num clearfloat">
                    <li><%=formatNums(item.seeNums)%></li>
                    <li><%=formatNums(item.loveNums)%></li>
                    <li><%=formatNums(item.commentNums)%></li>
                </ul>
            </div>
        </div>
    </div>
    <%}%>
</script>
<script type="text/template" data-art-template="dynamic-buy">
  <%for(var i=0, item; item = content[i++];) {%>
    <div class="buyFamily-item dynamic-item">
        <div class="pillar item-body">
            <div class="page-main">
                <a href=""><img src="<%=image(item.pic)%>" class="page-main-head-img"></a>
                <div class="post-main-text">
                    <div class="post-title"><%=item.titlename%></div>
                    <div class="post-description"><%=item.purchasedfrom%></div>
                    <div class="post-description-other">
                        <div class="post-description-other-right">
                            <p>#香港旺角</p>
                            <p>#NIKE旺角專賣店#</p>
                        </div>
                        <div class="post-other-time clearfloat">
                            <div><%=item.uptime%>前發佈</div>
                            <img src="/src/img/social/label/labeldetail/shot.png" class="post-other-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="laster">
                <ul class="laster-num clearfloat">
                    <li><%=formatNums(item.seeNums)%></li>
                    <li><%=formatNums(item.loveNums)%></li>
                    <li><%=formatNums(item.commentNums)%></li>
                </ul>
              <div class="item-user-info">
                <div class="info-poster-avatar"><img src="<%=image(item.userPic)%>"></div>
                <div class="info-post-info">
                  <div class="info-poster-name"><span><%=item.name%></span><%=#sexIcon(item.sex)%></div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <%}%>
</script>
<script type="text/template" data-art-template="dynamic-used">
  <%for(var i=0, item; item = content[i++];){%>
    <div class="used-item dynamic-item">
        <!--capable 有狀態(已經賣了)  usercancel 用戶取消  -->
        <div class="pillar">
            <div class="page-main">
                <div class="top-banner"><%=item.fineness%>&nbsp;/&nbsp;MOP&nbsp;4937</div>
                <a href=""><img src="//wap.macaoeasybuy.com<%=item.pic%>" class="page-main-head-img"></a>
                <div class="laster-look clearfloat">
                    <div class="laster-head">
                        <img src="//wap.macaoeasybuy.com<%=item.userPic%>">
                    </div>
                    <div class="laster-text">
                        <div class="laster-text-name clearfloat">
                            <span><%=item.name%></span>
                          <%=#sexIcon(item.sex)%>
                        </div>
                        <div class="laster-text-num"><%=item.uptime%>前發佈</div>
                    </div>
                </div>
                <div class="post-second-line"></div>

                <div class="post-main-text">
                    <p><%=item.titlename%></p>
                    <div class="post-title"><%=item.usedcontent%></div>
                    <ul>
                        <li>功能：<%=item.usedfunction%></li>
                        <li>外觀：<%=item.appearance%></li>
                        <li>私保：<%=item.insurance%></li>
                        <li>保養期：<%=item.period%></li>
                        <li class="area"><span>名治交院无率</span></li>
                    </ul>
                </div>
            </div>
            <div class="laster">
                <ul class="laster-num clearfloat">
                    <li><%=formatNum(item.seeNums)%></li>
                    <li><%=formatNum(item.loveNums)%></li>
                    <li><%=formatNum(item.commentNums)%></li>
                </ul>
            </div>
        </div>
    </div>
    <%}%>
</script>
<script type="text/template" data-art-template="dynamic-fair">
  <%for(var i=0, item; item = content[i++];){%>
    <div class="market-item mine dynamic-item">
        <div class="pillar item-body">
            <div class="pillar-inner">
                <div class="page-main">
                    <a href="#">
                        <!--增加圖片，下面一行的not去掉-->
                        <div class="top-banner">原價-<span>83</span>%</div>
                        <img src="//wap.macaoeasybuy.com<%=item.picture%>" class="page-main-head-img ">
                    </a>
                    <div class="post-main-text">
                        <div class="post-description"><%=item.title%></div>
                    </div>
                </div>
                <div class="laster">
                    <ul class="laster-num clearfloat ">
                        <li><%=formatNums(item.loveNums)%></li>
                        <li><%=formatNums(item.seeNums)%></li>
                        <li><%=formatNums(item.commentNums)%></li>
                    </ul>
                    <div class="laster-look clearfloat other">
                        <div class="laster-head"><img src="//wap.macaoeasybuy.com<%=item.userPic%>"></div>
                        <div class="laster-text">
                            <div class="laster-text-name"><span><%=item.name%></span><%=sexIcon(item.sex)%></div>
                            <div class="laster-text-num "><%=item.uptime%>前發佈</div>
                        </div>
                    </div>
                    <div class="laster-add ">
                        <img src="/src/img/social/market/treasureclassifydetail/arrow.png " alt=" " class="add-arrow ">
                        <div class="laster-main "><%=item.content%></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}%>
</script>
</body>
</html>
