@import './mixin.scss';
@import './variable.scss';
@import './page-header.scss';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
ul {
  @include resetul;
  @include clearfloat;
}
a {
  text-decoration: none;
  color: #000;
}
header,
footer,
div {
  box-sizing: border-box;
}
.e-container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  @include clearfloat;
}
.e-avatar {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  overflow: hidden;
}
#page-main {
  min-height: 1400px;
  width: $common-width;
  margin: 0 auto;
  @include clearfloat;
}
#page-footer {
  padding-top: 72px;
}

#container {
  width: 100%;
  overflow: hidden;
}

.navBar_borderBox {
  width: 100%;
  padding-bottom: 15px;
  background: #fff;
  border-bottom: 2px solid #ff527c
}

.navBar {
  width: 1075px;
  margin: auto;
  padding-top: 30px
}

.headNav_secondNav .navBar {
  padding-top: 0
}

.navBar:after {
  content: "";
  display: block;
  clear: both
}

.navBar ul li {
  float: left;
  padding: 0 8px;
  font-size: 16px;
  border-right: 1px solid #e3e3e3;
  > a {
    color: #ff527c;
    padding: 3px 12px;
    border-radius: 20px;
    &:hover {
      text-decoration: none;
      background-color: #ffd0d1;
      color: #fff;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

.navBar ul .navBarLi_curr a {
  background-color: #ff527c;
  color: #fff;
  padding: 3px 12px;
  border-radius: 20px;
}

.navBar ul li:last-child {
  border: none;
}

#groupBuy_banner {
  width: 1397px;
  margin: auto;
  height: 400px;
  overflow: hidden;
}

#groupBuy_banner .bannerCon {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

#groupBuy_banner .bannerCon .before {
  width: 300px;
  height: 400px;
  background: -prefix-linear-gradient(left, hsla(0, 0%, 100%, .7), #fff);
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(hsla(0, 0%, 100%, .7)));
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, .7));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E2E1DB, endColorstr=#99E2E1DB);
  position: absolute;
  left: -300px;
  bottom: 0;
  z-index: 2;
}

#groupBuy_banner .bannerCon .before img {
  position: absolute;
  right: -23px;
  top: 175px;
  cursor: pointer;
  width: 40px;
}

#groupBuy_banner .bannerCon .after {
  width: 290px;
  height: 400px;
  background: -prefix-linear-gradient(left, #fff, hsla(0, 0%, 100%, .7));
  background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .7)), to(#fff));
  background: linear-gradient(90deg, hsla(0, 0%, 100%, .7), #fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E2E1DB, endColorstr=#99E2E1DB);
  position: absolute;
  right: -300px;
  bottom: 0;
  z-index: 2;
}

#groupBuy_banner .bannerCon .after img {
  position: absolute;
  left: -23px;
  top: 175px;
  cursor: pointer;
  width: 40px;
}

#groupBuy_banner .bannerCon .scroll {
  width: 1200%;
  height: 400px;
  position: relative;
  left: -805px;
}

#groupBuy_banner .bannerCon .scroll a {
  float: left;
}

#groupBuy_banner .bannerCon .scroll a img {
  width: 800px;
  height: 400px;
  float: left;
  margin-left: 5px;
}

.shop-main-interest {
  width: 1397px;
  margin: auto;
}

.shop-main-interest .interest-left {
  float: left;
  text-align: center;
  width: 150px;
  height: 80px;
  padding-top: 10px;
  border-right: 1px dashed #444;
}

.shop-main-interest .interest-left p.number {
  font-size: 30px;
  color: #f7af02;
}

.shop-main-interest .interest-left p.text {
  font-size: 20px;
  font-weight: 700;
}

.shop-main-interest .recently {
  font-size: 16px;
  float: left;
  height: 80px;
  line-height: 80px;
  margin-left: 20px;
}

.shop-main-interest .head-img {
  float: left;
  margin-left: 15px;
  padding: 5px 0;
  position: relative;
}

.shop-main-interest .head-img li {
  float: left;
  height: 70px;
  width: 70px;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 50%;
}

.shop-main-interest .head-img li img {
  height: 100%;
}

.shop-main-interest .head-img li:last-of-type {
  margin-right: 0;
}

.shop-main-interest .head-img li a {
  display: block;
}

.shop-main-interest .head-img li img {
  width: 100%;
}

.noMore {
  font-size: 16px;
  color: #b3b3b3;
  margin-top: 40px;
  text-align: center;
  display: none;
}

.placeholder {
  color: #d2d2d2;
}

header {
  height: 63px;
  background-color: #ffd0d1;
}

.headNavBox {
  min-width: $common-width;
  position: relative;
  @include clearfloat;
}
.headNavBox_mainBox {
  width: $common-width;
  margin: auto;
}

.headNavBox_left {
  float: left;
}

.headNavBox_left ul {
  padding: 15px 0 10px;
  > li {
    float: left;
    position: relative;
    &:nth-child(2) {
      margin-left: 15px;
      &:before {
        color: #ff527c !important;
        content: "|" !important;
        padding: 8px 6px 0 3px !important;
        float: left;
        font-weight: 700;
      }
      a {
        margin-left: 20px;
      }
    }
    a {
      padding: 7px 15px;
      display: block;
      height: 35px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      color: #ff527c;
      span:first-child {
        height: 20px;
        width: 20px;
        float: left;
        display: block;
        margin-top: 2px;
      }
    }
  }
}

// .homeIcon {
//   background: url(http://mbuy.oss-cn-hongkong.aliyuncs.com/systemImg/9/10/9/20161009094349889494309434943049.png") no-repeat top;
// }

// .easyaLifeIcon {
//   background: url(http://mbuy.oss-cn-hongkong.aliyuncs.com/systemImg/9/10/9/20161009094331785314309433143031.png") no-repeat top;
// }

// .headNavBox_left ul li a span:nth-child(2) {
//   float: left;
//   margin-left: 5px;
//   font-size: 16px;
// }

// .headNavBox_left ul li a:hover {
//   background-color: #ff567c;
//   color: #fff;
// }

// .headNavBox_left ul li a:hover .homeIcon {
//   background: url(http://mbuy.oss-cn-hongkong.aliyuncs.com/systemImg/9/10/9/20161009094354673544309435443054.png") no-repeat top;
// }

// .headNavBox_left ul li a:hover .easyaLifeIcon {
//   background: url(http://mbuy.oss-cn-hongkong.aliyuncs.com/systemImg/9/10/9/20161009094334426344309433443034.png") no-repeat top;
// }

.headNavBox_middle {
  float: right;
  font-size: 16px;
}

.headNavBox_middle ul li {
  float: left;
  padding: 20px 13px;
}

.headNavBox_middle ul li a {
  color: #ff527c;
}

.headNavBox_middle ul li a:hover {
  color: #fc7696;
  text-decoration: none;
}

.headNavBox_middle .notLoggedIn li:last-child:after {
  color: #ff527c !important;
  content: "|" !important;
  padding: 0 5px 0 20px !important;
  font-weight: 700;
}

.headNavBox_right {
  float: right;
  font-size: 16px;
}

.headNavBox_right ul li {
  float: left;
  padding: 20px 10px;
}

.headNavBox_right ul li:first-child {
  padding-left: 0;
}

.headNavBox_right ul li a {
  color: #ff527c;
}

.headNavBox_right ul li a:hover {
  color: #fc7696;
  text-decoration: none;
}

.headNav_secondNav {
  position: absolute;
  top: 62px;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px -3px #efefef;
  box-shadow: 0 5px 15px -3px #efefef;
  width: 100%;
  padding: 16px 0;
  display: none;
  z-index: 9;
}

.headNav_secondNav .navBar {
  margin-top: 0;
  width: 1075px;
  margin: auto;
  @include clearfloat;
}

.headNav_secondNav .navBar ul li {
  float: left;
  padding: 0 8px;
  font-size: 16px;
  border-right: 1px solid #e3e3e3;
}

.headNav_secondNav .navBar ul li a {
  color: #ff527c;
}

.headNav_secondNav .navBar ul li a,
.headNav_secondNav .navBar ul li a:hover {
  padding: 3px 12px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.headNav_secondNav .navBar ul li a:hover {
  text-decoration: none;
  background-color: #ffd0d1;
  color: #fff;
}

.headNav_secondNav .navBar ul li a:focus {
  text-decoration: none;
}

.headNav_secondNav .navBar ul .navBarLi_curr a {
  background-color: #ff527c;
  color: #fff;
  padding: 3px 12px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.headNav_secondNav .navBar ul li:last-child {
  border: none;
}

.easyaLifeNav .navBar ul li {
  padding: 0 15px;
}

.easyaLifeNav .navBar {
  width: 685px;
  margin: auto;
}

.searchBox {
  background-color: #fff;
  @include clearfloat;
}


.searchBox_mainBox {
  width: $common-width;
  margin: auto;
  padding: 15px 0;
}

.searchBox_mainBox .searchBox_left {
  float: left;
}

.searchBox_left img {
  height: 100%;
  min-height: 96px;
}

.searchBox_mainBox .searchBox_left ul {
  height: 50px;
  padding: 14px 0;
}

.searchBox_mainBox .searchBox_left ul li {
  float: left;
  padding: 0 15px;
  font-size: 16px;
  border-right: 1px solid #ff527c;
}

.searchBox_mainBox .searchBox_left ul li:last-of-type {
  border-right: 0;
}

.searchBox_mainBox .searchBox_left ul li a {
  color: #ff527c;
  padding: 3px 12px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.searchBox_mainBox .searchBox_left ul li.select a,
.searchBox_mainBox .searchBox_left ul li a:hover {
  text-decoration: none;
  color: #fff;
  padding: 3px 12px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.searchBox_mainBox .searchBox_left ul li a:hover {
  background-color: #ffd0d1 !important;
}

.searchBox_mainBox .searchBox_left ul li.select a {
  background-color: #ff567c;
}

.searchBox_mainBox .searchBox_right {
  float: right;
}

.searchBox_right_top {
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  padding-left: 220px;
  margin-bottom: 15px;
  @include clearfloat;
}

.searchBox_right_topLeft {
  float: left;
  height: 100%;
}

.searchBox_right_topLeft span:first-child {
  width: 20px;
  float: left;
}

.searchBox_right_topLeft span:first-child img {
  width: 100%;
}

.searchBox_right_topLeft span:nth-child(2) {
  float: left;
  margin-left: 5px;
}

.searchBox_right_topRight {
  float: left;
  height: 100%;
  margin-left: 15px;
}

.searchBox_right_topRight ul li {
  float: left;
  padding-left: 10px;
  cursor: pointer;
}

.distribution_type:before {
  color: #ff527c !important;
  content: "|" !important;
  padding: 0 20px 0 0 !important;
  font-weight: 700;
}

.searchBox_right_topRight ul li:nth-child(3) {
  width: 25px;
}

.searchBox_right_topRight ul li:nth-child(3) img {
  width: 100%;
}

.searchBox_right_bottom {
  border: 1px solid #ff527c;
  width: 600px;
  height: 50px;
  position: relative;
  @include clearfloat;
}

.searchBox_right_bottomLeft {
  float: left
}

.searchBox_right_bottomLeft input {
  width: 450px;
  height: 48px;
  font-size: 18px;
  padding-left: 20px;
  outline: none;
  border: none;
  color: #333;
}

.searchBox_right_bottomRight {
  background-color: #ff527c;
  height: 48px;
  width: 80px;
  float: right;
  cursor: pointer;
}

.searchBox_right_bottomRight img {
  width: 35px;
  margin-left: 20px;
  margin-top: 5px;
}

#search_slide_bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: none;
  top: 0;
  left: 0;
  // z-index: 6;
}

.searchBox_right_bottomLeft {
  position: relative;
  width: 518px;
  background-color: #fff;
}

.searchBox_right_bottomLeft_slide {
  position: absolute;
  border: 1px solid #ff527c;
  border-top: none;
  width: 520px;
  left: -1px;
  top: 48px;
  background-color: #fff;
  display: none;
  z-index: 4;
}

.searchBar_typeBox ul li {
  width: 86px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  background-color: #d8d8d8;
  float: left;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}

.searchBar_typeBox ul li:first-of-type {
  width: 88px;
}

.searchBar_typeBox ul li.searchBar_typeBox_curr {
  background-color: #ff527c;
}

.searchBar_recommendEach {
  display: none;
}

.searchBar_recommendEach.searchBar_recommendEach_curr {
  display: block;
}

#showchooseType {
  font-size: 16px;
  letter-spacing: 1px;
  color: #d8d8d8;
}

.searchBar_recommendEach {
  padding: 20px 20px 30px;
}

.searchBar_recommendEach_title {
  font-size: 20px;
  letter-spacing: 1px;
}

.searchBar_recommendEach_title span:nth-of-type(2) {
  display: inline-block;
  width: 10px;
  margin-left: 5px;
}

.searchBar_recommendEach_title span:nth-of-type(2) img {
  display: inline-block;
  width: 100%;
}

.searchBar_recommendEach_good .searchBar_recommendEach_main ul li {
  float: left;
  font-size: 16px;
  letter-spacing: 2px;
  color: #b3b3b3;
  cursor: pointer;
  margin-top: 25px;
  margin-right: 25px;
}

.searchBar_recommendEach_shop .searchBar_recommendEach_main ul li {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}

.searchBar_recommendEach_shop .searchBar_recommendEach_main ul li:nth-of-type(5) {
  border-bottom: none;
}

.searchBar_recommendEach_shop_left {
  float: left;
  width: 130px;
}

.searchBar_recommendEach_shop_left img {
  width: 100%;
  max-height: 65px;
}

.searchBar_recommendEach_shop_right {
  float: left;
  margin-left: 20px;
}

.searchBar_recommendEach_shop_right p:first-of-type {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.searchBar_recommendEach_shop_right p:nth-of-type(2) {
  margin-top: 20px;
}

.searchBar_recommendEach_shop_right p:nth-of-type(2) span {
  font-size: 16px;
  color: #d8d8d8;
  margin-right: 25px;
  letter-spacing: 1px;
  display: inline-block;
}

.searchBar_recommendEach_shop_right .shopdata {
  margin-top: 20px;
}

.searchBar_recommendEach_shop_right .shopdata p {
  font-size: 16px;
  color: #d8d8d8;
  margin-right: 25px;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 400;
  width: 75px
}

.searchBar_recommendEach_shop_right .shopdata p .red_curr {
  margin-right: 0;
}

.searchBar_recommendEach_shop_right .shopdata span {
  font-size: 16px;
  color: #d8d8d8;
  margin-right: 25px;
  letter-spacing: 1px;
  display: inline-block;
}

.searchBar_recommendEach_shop_right p:nth-of-type(2) span:first-of-type {
  width: 70px;
}

.searchBar_recommendEach_shop_right p:nth-of-type(2) span:nth-of-type(2),
.searchBar_recommendEach_shop_right p:nth-of-type(2) span:nth-of-type(3) {
  width: 95px;
  text-align: right;
}

.searchBar_recommendEach_shop_right p:nth-of-type(2) span:nth-of-type(3) {
  margin-right: 0;
}

.searchBar_recommendEach_label .searchBar_recommendEach_main ul li {
  margin-top: 25px;
  cursor: pointer;
}

.searchBar_recommendEach_label .searchBar_recommendEach_main ul li p:first-of-type {
  font-size: 16px;
  letter-spacing: 2px;
}

.searchBar_recommendEach_label .searchBar_recommendEach_main ul li p:nth-of-type(2) {
  margin-top: 5px;
}

.searchBar_recommendEach_label .searchBar_recommendEach_main ul li p:nth-of-type(2) span {
  color: #b3b3b3;
  margin-right: 40px;
  letter-spacing: 1px;
  font-size: 14px;
}

.searchBar_recommendEach_topic .searchBar_recommendEach_main ul li {
  margin-top: 25px;
  cursor: pointer;
}

.searchBar_recommendEach_topic .searchBar_recommendEach_main ul li p:first-of-type {
  font-size: 16px;
  letter-spacing: 2px;
}

.searchBar_recommendEach_topic .searchBar_recommendEach_main ul li p:nth-of-type(2) {
  margin-top: 5px;
}

.searchBar_recommendEach_topic .searchBar_recommendEach_main ul li p:nth-of-type(2) span {
  color: #b3b3b3;
  margin-right: 40px;
  letter-spacing: 1px;
  font-size: 14px;
}

.searchBar_recommendEach_post .searchBar_recommendEach_main ul li {
  margin-top: 25px;
  cursor: pointer;
}

.searchBar_recommendEach_post .searchBar_recommendEach_main ul li p:first-of-type {
  font-size: 16px;
  letter-spacing: 2px;
}

.searchBar_recommendEach_post .searchBar_recommendEach_main ul li p:nth-of-type(2) {
  color: #b3b3b3;
}

.searchBar_recommendEach_fans .searchBar_recommendEach_main ul li {
  margin-top: 25px;
  cursor: pointer;
}

.searchBar_recommendEach_headpic {
  width: 70px;
  height: 70px;
  overflow: hidden;
  float: left;
}

.searchBar_recommendEach_headpic img {
  width: 100%;
}

.searchBar_recommendEach_mess {
  float: left;
  margin-left: 15px;
}

.searchBar_recommendEach_mess .searchBar_recommendEach_mess_top span {
  display: inline-block;
}

.searchBar_recommendEach_mess .searchBar_recommendEach_mess_top span:first-of-type {
  font-size: 16px;
  margin-top: 10px;
}

.searchBar_recommendEach_mess .searchBar_recommendEach_mess_top span:nth-of-type(2) {
  margin-left: 10px;
  width: 18px;
}

.searchBar_recommendEach_mess .searchBar_recommendEach_mess_top span:nth-of-type(2) img {
  width: 100%;
}

.searchBar_recommendEach_mess .searchBar_recommendEach_mess_bottom ul li {
  float: left;
  margin-top: 10px;
  color: #b3b3b3;
  border-left: 1px solid #e3e3e3;
  font-size: 16px;
  padding: 0 20px;
}

.searchBar_recommendEach_mess .searchBar_recommendEach_mess_bottom ul li:first-of-type {
  padding-left: 0;
  border-left: 0;
  min-width: 85px;
}

.searchBar_recommendEach_title_curr {
  cursor: pointer;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typeNormal {
  margin-top: 30px;
  cursor: pointer;
  font-size: 18px;
  color: #b3b3b3;
  letter-spacing: 1px;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typeNormal p .red_curr {
  color: #ff527c
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typeTopic {
  margin-top: 30px;
  cursor: pointer;
  font-size: 18px;
  color: #b3b3b3;
  letter-spacing: 1px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 8px;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typeTopic:last-of-type {
  border: none;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typeTopic p:first-of-type {
  color: #000;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typeTopic p:nth-of-type(2) {
  margin-top: 8px;
  font-size: 16px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 50px;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typeTopic p .red_curr {
  color: #ff527c;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typePost {
  margin-top: 25px;
  cursor: pointer;
  font-size: 18px;
  color: #b3b3b3;
  letter-spacing: 1px;
  padding-bottom: 8px;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typePost:last-of-type {
  border: none;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typePost p:first-of-type {
  color: #000;
  float: left;
  max-width: 400px;
  overflow: hidden;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typePost p:nth-of-type(2) {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typePost p:nth-of-type(3) {
  margin-top: 8px;
  font-size: 16px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 25px;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typePost p .red_curr {
  color: #ff527c;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typeFans {
  margin-top: 20px;
}

.typeFans .searchBar_recommendEach_mess .searchBar_recommendEach_mess_top p {
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.typeFans .searchBar_recommendEach_mess .searchBar_recommendEach_mess_top span:last-of-type {
  margin-left: 10px;
  width: 18px;
  display: inline-block;
}

.typeFans .searchBar_recommendEach_mess .searchBar_recommendEach_mess_top span:last-of-type img {
  width: 100%;
}

.searchBar_recommendEach_searching .searchBar_recommendEach_main ul .typeFans p .red_curr {
  color: #ff527c;
  width: auto;
  margin-top: 0;
  margin-left: 0;
}

.hadLoggedIn:after {
  content: "";
  display: block;
  clear: both
}

.hadLoggedIn li a p {
  float: left;
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hadLoggedIn li a div {
  float: left;
  width: 22px;
}

.hadLoggedIn li a div img {
  width: 100%;
}

.topMenu_num {
  background-color: #ff567c;
  border-radius: 15px;
  color: #fff;
  padding: 0 4px;
  text-align: center;
  height: 23px;
  min-width: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  margin-left: 3px;
}

.topMenu_triangleLeft {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #ff567c;
  border-bottom: 7px solid transparent;
  position: absolute;
  margin-left: -8px;
  top: 5px;
  left: 3px;
  display: inline-block;
}

.hadLoggedIn li:last-child:after {
  color: #ff527c !important;
  content: "|" !important;
  padding: 0 5px 0 20px !important;
  font-weight: 700;
}

.hadLoggedIn li {
  position: relative;
}

.header_picBox {
  width: 65px;
  height: 65px;
  margin: 18px auto 0;
  overflow: hidden;
  border-radius: 50%;
}

.header_otherTool {
  margin-top: 10px;
}

.header_otherTool a {
  display: block;
  font-size: 16px;
  width: 100%;
  text-align: center;
  height: 55px;
  line-height: 55px;
  letter-spacing: 2px;
  border-top: 1px solid #ffd0d1;
}

.header_otherTool a:first-child {
  border: none;
}

.header_otherTool a span {
  float: left;
}

.header_otherTool a span:first-child {
  margin-left: 28px;
}

.header_otherTool a span:nth-child(2) {
  width: 15px;
}

.header_otherTool a span:nth-child(2) img,
.header_picBox img {
  width: 100%;
}

.topMenu_appLoad {
  position: relative;
  cursor: default
}

.top_menu_pop {
  top: 62px;
  left: -1px;
  width: 140px;
  z-index: 5;
}

.appLoadHoverBox,
.top_menu_pop {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ffd0d1;
  border-top: 0;
  height: 0;
  overflow: hidden;
}

.appLoadHoverBox {
  top: 61px;
  left: -464px;
  width: 550px;
  z-index: 1;
}

.topMenu_appLoad:hover {
  background-color: #fff
}

.topMenu_appLoad:hover .appLoadHoverBox {
  height: 245px;
}

.appLoadHoverBox ul {
  margin-top: 30px;
  padding-left: 8px;
  margin-bottom: 31px;
}

.appLoadHoverBox ul li {
  float: left;
  width: 150px;
  margin-left: 20px;
  padding: 0;
}

.appLoadHoverBox ul li div {
  width: 150px;
  height: 152px;
  padding: 15px;
  border: 1px solid #e3e3e3;
}

.appLoadHoverBox ul li div img {
  width: 120px;
}

.appLoadHoverBox ul li p {
  margin-top: 10px;
  text-align: center;
}

.headPop {
  position: fixed;
  top: 200px;
  width: 550px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  z-index: 4;
  left: 50%;
  margin-left: -275px;
  background-color: #fff;
  display: none;
}

.chooseCountry {
  top: 0;
  opacity: 1;
}

.headPop_title {
  background-color: #ebbd40;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 15px 0 15px 40px;
  font-size: 18px;
  letter-spacing: 2px;
}

.headPop_main {
  padding: 15px 35px;
}

.chooseCountry .headPop_main {
  height: 185px;
}

.headPop_main_chooseBar {
  margin-top: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  width: 390px;
  padding: 3px 10px;
  cursor: pointer;
  position: relative;
}

.headPop_main_chooseBar .unSlideShow span:first-child {
  font-size: 16px;
}

.headPop_main_chooseBar .unSlideShow span:nth-child(2) {
  display: inline-block;
  width: 10px;
  margin-top: 8px;
}

.headPop_main_chooseBar .chooseBar_slideBox {
  display: none;
}

.headPop_main_chooseBar .unSlideShow span:nth-child(2) img:first-child {
  display: block;
}

.headPop_main_chooseBar .unSlideShow span:nth-child(2) img:nth-child(2) {
  display: none;
}

.headPop_main_chooseBar .unSlideShow span:nth-child(2) img {
  width: 100%;
}

.headPop_main_chooseBar_curr {
  position: absolute;
  border: 2px solid #ff527c;
  background-color: #fff;
  padding: 0;
}

.headPop_main_chooseBar_curr .unSlideShow {
  background-color: #ff527c;
  color: #fff;
  padding: 4px 10px;
}

.headPop_main_chooseBar_curr .chooseBar_slideBox {
  display: block;
}

.headPop_main_chooseBar_curr .chooseBar_slideBox li {
  padding: 8px 10px;
  font-size: 16px;
}

.headPop_main_chooseBar_curr .chooseBar_slideBox li a {
  color: #333;
}

.headPop_main_chooseBar_curr .unSlideShow span:nth-child(2) img:first-child {
  display: none;
}

.headPop_main_chooseBar_curr .unSlideShow span:nth-child(2) img:nth-child(2) {
  display: block;
}

.headPop_main_title {
  margin-top: 20px;
  font-size: 15px;
}

.headPop_main_currency {
  margin-top: 10px;
}

.currencyIcon {
  width: 25px;
  display: inline-block;
}

.currencyIcon img {
  width: 100%;
}

.currency_unit {
  margin-left: 10px;
  font-weight: 700;
}

.headPop_btnBox {
  background-color: #ebbd40;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 20px;
  padding: 12px 0;
}

.headPop_btn {
  background-color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  width: 180px;
  padding: 6px 0;
  text-align: center;
  box-shadow: 0 0 2px 0 #e3e3e3;
  color: #ebbd40;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 185px;
  cursor: pointer;
}

.closeBtnBox {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  cursor: pointer;
}

.closeBtnBox img {
  width: 100%;
}

.chooseBar_slideBox {
  height: 200px;
  overflow-y: scroll;
  padding: 10px 0;
}

.chooseBar_slideBox::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.topMenu_share {
  display: block;
  width: 530px;
}

.topMenu_share .headPop_main_title {
  text-align: center;
  margin-top: 5px;
  font-size: 16px
}

.topMenu_shareTab {
  margin-top: 25px;
}

.topMenu_shareTab ul li {
  float: left;
  width: 80px;
  margin-left: 46px;
}

.topMenu_shareTab ul li img {
  width: 70px;
  margin-left: 5px;
}

.topMenu_shareTab ul li:first-child {
  margin-left: 0;
}

.topMenu_shareTab ul li div {
  height: 80px;
  overflow: hidden;
}

.topMenu_shareTab ul li div img:first-child {
  margin-bottom: 10px;
}

.topMenu_shareTab ul .topMenu_shareTab_curr div img:first-child {
  display: none;
}

.topMenu_shareTab ul li p {
  text-align: center;
  font-size: 15px;
  color: #e5e5e5;
}

.headPop_BG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 3;
  display: none;
}

.footBaner {
  width: 100%;
  position: relative;
  z-index: 1;
}

.footBaner .footerAdvertising {
  width: 100%;
  min-width: 1397px;
}

.footBaner .footerAdvertising img {
  width: 100%;
  vertical-align: bottom;
}

.footerMessBox_bgColor {
  background-color: #fff;
  padding-top: 25px;
}

.footerMessBox {
  width: 1397px;
  margin: auto;
  padding-bottom: 30px;
  overflow: hidden;
}

.footerLeft {
  float: left;
  width: 230px;
  margin-top: 80px;
}

.footerLeft img {
  width: 100%;
}

.footerRight {
  float: right;
  width: 600px;
}

.footerRight-about,
.footerRight-about ul {
  overflow: hidden;
  width: 100%;
}

.footerRight-about ul li {
  padding: 0 20px;
  float: right;
  border-right: 2px solid #adadad;
  font-size: 16px;
}

.footerRight-about ul li:first-child {
  border: none;
  padding-right: 0;
}

.footerRight-about ul li a {
  color: #9f9f9f;
}

.footerRight-Mess {
  overflow: hidden;
  margin-top: 5px;
  font-size: 16px;
}

.footerRight-Mess p {
  text-align: right;
  margin-top: 10px;
  font-size: 16px;
  color: #9f9f9f;
}

.footerRight-Mess p:nth-child(2) {
  margin-top: 5px;
}

.footerRight-code {
  margin-top: 20px;
}

.footerRight-codeEach {
  float: right;
  margin-left: 70px;
}

.footerRight-codeEach:nth-child(3) .footerRight-codeEach-img {
  margin-left: 8px;
}

.footerRight-codeEach-img {
  width: 105px;
  height: 105px;
  border: 1px solid #e3e3e3;
  padding: 5px;
}

.footerRight-codeEach img {
  width: 95px;
}

.footerRight-codeEach p {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #a8a5a4;
  letter-spacing: 2px;
}

.searchBar_recommendEach_searching ul li.searchShop {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}

.searchBar_recommendEach_searching ul li.searchShop .red_curr {
  color: #ff527c;
}

.topMenu_hover {
  line-height: 23px;
  position: relative;
  &:hover {
    background-color: #fff;
    .top_menu_pop {
      height: 260px;
    }
  }
}


.animate_style {
  transition: height .4s
}
.e-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  &.sex-male {
    background: url("") no-repeat;
    background-size: contain;
  }
  &.sex-female {
    background: url("") no-repeat;
    background-size: contain;
  }
}

.e-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    display: block;
  }
  &.e-avatar {
    float: left;
    border-radius: 50%;
    overflow: hidden;
    width: 64px;
    height: 64px;
  }
}

div[id^=page] {
  overflow: hidden;
}

.eb-dialog {
  background: #fff;
  border: 2px solid #ff527d;
  position: fixed;
}

span[data-content-ellipsis] {
  float: left;
  white-space: nowrap;
}
.e-waterfall {
  position: relative;
  .item {
    position: absolute;
    visibility: hidden;
  }
}

/* 后增加 */

#underline{
  position: relative;
  cursor:pointer;
}
#underline:after{
	content: "";
	width: 0;
	height: 1px;
	background: #B2AAB8;
	position: absolute;
	top: 100%;
	left: 50%;
	transition: all .3s;
}
#underline:hover:after{
	left: 0%;
	width: 100%;
}
/*  */
