.editor-top-info{
	background-color:#fff;
	padding:30px;
}
/*頂部按鈕塊*/
.editor-top-info .editor-top{
	padding-bottom:30px;
	border-bottom:1px solid #aaa;
}
.editor-top-info .describe-title{
	margin-top:22px;
	float: left;
}
.editor-top-info .describe-title div:first-of-type{
	font-weight: bold;
	font-size:22px;
}
.editor-top-info .edtor-btns{
	margin-top:20px;
	float:right;
}
.editor-top-info .edtor-btns li{
	float:left;
	padding:8px 15px;
	border:1px solid #aaa;
	color:#aaa;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
}
.editor-top-info .edtor-btns li img{
	margin:-4px 6px 0px 0px;
}
#save-btn{
    background-color: #e98900;
    color: #fff;
    border-color: #e98900;
    margin-right:15px;
}
/*專輯信息*/
.editor-bottom{
	margin-top:30px;
	height:180px;
	font-size:16px;
}
.editor-bottom .album-cover{
	float:left;
	width:180px;
	height:100%;
	background-color:#666;
}
.editor-bottom .album-info{
	float:right;
	width:710px;
	height:100%;
}
.editor-bottom .album-info .album-title{
	width:100%;
    font-size: 24px;
    color: #e98900;
}
.editor-bottom .album-info .album-allnum{
	margin-top:10px;
	color:#aaa;
}
.editor-bottom .album-info .album-classification{
	margin-top:18px;
	color:#aaa;
}
.editor-bottom .album-info .album-classification div:first-of-type{
	float:left;
}
.editor-bottom .album-info .album-classification .classification-top{
	width:110px;
	float:left;
	position:relative;
}
.editor-bottom .album-info .album-info-num{
	margin-top:18px;
	margin-left:-30px;
}
.editor-bottom .album-info .album-info-num li{
    float: left;
    width: 20%;
    color: #aaa;
    text-align: center;
    border-right: 1px solid #888;
}
.editor-bottom .album-info .album-info-num li:last-of-type{
	border-right:0px;
}
.editor-bottom .album-info .album-info-num li div:first-of-type{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
/*上傳圖片框*/
.editor-upload{
	width:92%;
	margin:20px auto;
	background-color:#fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	padding:20px;
}
.editor-upload .upload-box{
	width:100%;
    border: 2px dashed #B3B3B3;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	padding:20px;
}
.editor-upload .upload-box .upload-box-tips span.upload-count{
	font-size:20px;
}
.editor-upload .upload-box .upload-box-tips span.upload-count span{
	padding:0px 8px;
}
.editor-upload .upload-box .upload-box-tips span.upload-count .now-num{
	color:#FF527C;
}
.editor-upload .upload-box .upload-box-tips span.upload-tips{
	padding-left:20px;
	color:#ccc;
}
.editor-upload .upload-box ul{
	width:100%;
	height:126px;
	margin:20px 0px;
}
.editor-upload .upload-box ul li{
	width:126px;
	height:100%;
	margin:0 auto;
    background: url("/src/img/social/label/labeldetail/dragImg.png") 0 0 / 100% 100% no-repeat;
    cursor: pointer;
    position:relative;
}
.editor-upload .editor-lister{
	margin-top:25px;
}
.editor-upload .editor-lister li{
	height:241px;
	padding:20px 0px;
	border-top:1px solid #ccc;
}
.editor-upload .editor-lister li .editor-items-img{
	width:200px;
	height:100%;
	float:left;
	background-color:#fefefe;
	position:relative;
	cursor: pointer;
	border: 1px solid #ccc;
	overflow: hidden;
}
.editor-upload .editor-lister li .editor-items-img img{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.editor-upload .editor-lister li .editor-items-img .close-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height:30px;
    border: 1px solid #444;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.editor-upload .editor-lister li .editor-items-value{
	width:625px;
	float:right;
	height:100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline:0px;
	font-size:16px;
}
.editor-upload .editor-lister li .editor-items-value:after{
    content: attr(placeholder);
    color: #ccc;
}
/*沒有更多內容*/
.no-more {
    color: #444;
    font-size: 18px;
    text-align: center;
    padding:20px 0px;
    /* display: none; */
}
/*刪除帖子*/
#delete-post{
	display:none;
}
.yez-tips-box {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}
#delete-post .delete-post-shadow{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:889;
	background-color:rgba(0,0,0,.4);
}
#delete-post .cancel-tips-box {
    position: fixed;
    z-index: 900;
    box-shadow: 4px 4px 30px #aaa;
    background-color: #fff;
    text-align: center;
    width: 510px;
}
#delete-post .cancels-title {
    padding: 10px 0px;
    font-size: 18px;
    background-color: #FF527C;
    color: #fff;
}
#delete-post .cancels-xc {
    margin-top: 20px;
}
#delete-post .cancel-tips-text {
    padding: 15px 0px 4px 0px;;
    font-size: 18px;
}
#delete-post .sure-button {
    display: inline-block;
    margin:15px 0px;
}
#delete-post .sure-cancel,
#delete-post .cancel-sure{
    background-color: #FF527C;
    color: #FFFFFF;
    padding: 8px 45px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 16px;
    float: left;
}
#delete-post .cancel-sure {
    margin-left: 20px;
    background-color: #b3b3b3;
}
.editor-lister .album-list-img-view{
	float: left;
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}
.editor-lister .album-list-img-content{
	float: left;
    resize: none;
    height: 150px;
    width: 671px;
    margin-left: 20px;
    border: 0px;
    border: none;
    outline: 0px;
    outline: none;
    font-size: 18px;
}
.comment-success-tips {
    display: none;
    position: relative;
    z-index: 888;
}
.comment-success-tips .praise {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 888;
    width: 320px;
    background-color: #fff;
    text-align: center;
    padding: 14px 26px 14px 26px;
    color: #ff567c;
    letter-spacing: 2px;
    border: 2px solid #ff567c;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.comment-success-tips .praise div:nth-of-type(1) {
    font-size: 22px;
    font-weight: bold;
}
.comment-success-tips .praise div:nth-of-type(1) img {
    margin-top: -6px;
    margin-right: 10px;
}
