body,
html {
	background: url("/src/img/social/easylive/welfare-bg.png") center center no-repeat;
	background-attachment: fixed;
}
.navBar{
	border-bottom: 0px;
}
.myborder-radius {
	border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

#container {
	padding-top:20px;
}

#container .container-swapper {
	width: 1397px;
	margin: 0 auto;
	position: relative;
}

.global-top-one{
	background: #fff;
	margin-top:5px;
}
.global-top-one .top-one-top{

}
.global-top-one .top-one-top .top-img{
	width:57.5%;
	height: 422px;
	float:left;
	overflow: hidden;
	position:relative;
}
.global-top-one .top-one-top .top-img img{
	width: 100%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.global-top-one .top-one-top .top-artical{
	position:relative;
	text-align: center;
	font-size:18px;
	line-height:35px;
	width:42.5%;
	height:422px;
	float:left;
	background: url("/src/img/social/easylive/bottom-comma-topic.png") 440px 335px no-repeat,
	url("/src/img/social/easylive/top-comma-topic.png") 65px 75px no-repeat;
}
.global-top-one .top-one-top .top-artical>p{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	color:#666;
	width: 350px;
}
.global-top-one .top-one-bottom{
	padding:20px 0px;
	color:#aaa;
}
.global-top-one .top-one-bottom .interest-left {
    float: left;
    text-align: center;
    width: 150px;
    height: 80px;
    padding-top: 10px;
    border-right: 1px dashed #444;
}
.global-top-one .top-one-bottom .interest-left:first-of-type{
	border-right:0px;
}
.global-top-one .top-one-bottom .interest-left img{
	margin:-2px 4px 0px 0px;
}
.global-top-one .top-one-bottom .interest-left p.number {
    font-size: 30px;
    color: #F7AF02;
}
.global-top-one .top-one-bottom .interest-left p.text {
    font-size: 16px;
    font-weight: bold;
}
.global-top-one .top-one-bottom .recently {
    float: left;
    height: 80px;
    line-height: 80px;
    margin-left: 20px;
    font-size:14px;
    font-weight:bold;
}
.global-top-one .top-one-bottom .head-img {
    float: left;
    margin-left: 15px;
    padding: 5px 0;
    position: relative;
}
.global-top-one .top-one-bottom .head-img li {
    float: left;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color:#ccc;
    cursor: pointer;
}
.global-top-one .top-one-bottom .head-img li:last-of-type{
	margin-right:0px;
}
.global-top-one .top-one-bottom .head-img li img {
    width: 100%;
}


#container .container-swapper .list {
	width: 100%;
	margin-top: 30px;
	min-height:1844px;
}
#container .container-swapper .list .list-num {
	float: left;
	width: 445px;
	background-color: #fff;
	margin: 0px 30px 30px 0px;
	position:relative;
}
#container .container-swapper .list .list-num:hover .shadow{
	display:block;
}
#container .container-swapper .list .list-num .shadow{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(0,0,0,.3);
	display:none;
}
#container .container-swapper .list .list-num:nth-of-type(3n) {
	margin-right: 0px;
}

#container .container-swapper .list .list-num .header {
	width: 100%;
	height: 486px;
	position: relative;
}
#container .container-swapper .list .list-num .header .header_image{
	width: 100%;
	height: 445px;
	overflow: hidden;
	background-color:rgb(240,240,240);
	position:relative;
}
#container .container-swapper .list .list-num .header .header_image img{
	width: 100%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#container .container-swapper .list .list-num .header .head-radius {
	position: absolute;
	bottom: -5px;
	left: 20px;
	width: 80px;
	height: 80px;
	border: 5px solid #fff;
	background-color:#fff;
	overflow: hidden;
}

#container .container-swapper .list .list-num .header .head-radius img {
	width:100%;
	height:100%;
}

#container .container-swapper .list .list-num .header .name {
    text-indent: 105px;
    margin-top: 12px;
}

#container .container-swapper .list .list-num .header .name .name-title {
	font-size: 16px;
	font-weight: bold;
}

#container .container-swapper .list .list-num .name-time {
	font-size: 13px;
	color: #aaa;
	margin:20px 0px 10px 0px;
}

#container .container-swapper .list .list-num .main {
	width: 100%;
	padding:16px 24px 24px 24px;
}

#container .container-swapper .list .list-num .main .main-head-img {
	height: 44px;
	overflow: hidden;
}

#container .container-swapper .list .list-num .main .main-title {
	font-weight: bold;
	font-size: 15px;
	height: 42px;
	overflow: hidden;
	margin-top:12px;
}

#container .container-swapper .list .list-num .main .main-container {
	height:99px;
	margin-top: 10px;
	color: #666;
	display: -webkit-box !important;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}

#container .container-swapper .list .list-num .main .info {
	width: 100%;
	padding-top:24px;
	text-align: left;
}

#container .container-swapper .list .list-num .main .info li {
	width: 33.333333333%;
	float: left;
	text-align: left;
	color: #aaa;
}
#container .container-swapper .list .list-num .main .info li img{
	 margin:-2px 4px 0px 0px;
}
#container .container-swapper .list .list-num .main .main-new {
	color: #aaa;
	padding: 6px 0px 12px 0px;
	border-top:1px dashed #ccc;
}

#container .container-swapper .list .list-num .main .main-head-img li {
	overflow: hidden;
	float: left;
	width: 44px;
	height: 44px;
	background-color: #ccc;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin-right: 10px;
}
#container .container-swapper .list .list-num .main .main-head-img li img {
	width: 100%;
	height: 100%;
}

#container .container-swapper .list .list-num .main .main-head-img li:last-of-type {
	margin-right: 0px;
}

#container .container-swapper .no-more {
	position: absolute;
	bottom: -60px;
	color: #888;
	font-size: 18px;
	left: 50%;
	-webkit-transform: translate(-50%, 0px);
	-moz-transform: translate(-50%, 0px);
	-ms-transform: translate(-50%, 0px);
	-o-transform: translate(-50%, 0px);
	transform: translate(-50%, 0px);
	display: none;
}
