<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用戶空間-標籤列表頁</title>
    <!-- 加载公共CSS -->
    <!-- <link rel="stylesheet" href="/src/css/common/easyframe/easyframe.css"> -->
    <link rel="stylesheet" href="/src/css/common/yez_css_Reset.css">
    <link rel="stylesheet" href="/src/css/common/common.css">
    <!-- 加载模块公共CSS -->
    <link rel="stylesheet" href="/src/css/userspace/common/userspace_common.css">
    <!-- 加载页面CSS -->
    <link rel="stylesheet" href="/src/css/userspace/label/labellist/labellist.css">
    <script src="//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="/src/js/common/frameDomainJSON.js"></script>
    <!-- <script src="/src/js/common/easyframe-effect.js"></script> -->
    <!-- <script src="/src/js/common/easyframe.js"></script> -->
    <script>
        easyBuy.userSpaceGlobal.afterSetIsSelf = function (state) {
            if (state) {
                easyFrame.loadCss('/src/css/userspace/label/labellist/labellist-mine.css');
            } else {
                easyFrame.loadCss('/src/css/userspace/label/labellist/labellist-other.css');
            }
        }
    </script>
    <script src="/src/js/common/getData/getData_needLogin.js"></script>
    <script src="/src/js/userspace/common/userspacebg.js" async></script>
    <script>
        easyBuy.userSpaceGlobal.whiteNavName = 'LabelControlNumber';
    </script>
</head>

<body>
    <div id="swapper">
        <header id="page-header"></header>
        <div id="container" class="clearfloat">
            <div id="left-menu"></div>
            <div id="right-content">
                <div id="user-info"></div>
                <div class="clearfloat">
                    <div class="white-container">
                        <ul id="white-menu"></ul>
                        <ul id="news-push"></ul>
                    </div>
                    <div id="userspace-content">
                        <div class="tabsBar">
                            <div class="labelTabs" :data-eb-active="type" @click="typeClick">
                                <div class="tab tab-created">{{ createdTagText }}</div>
                                <div class="tab tab-used">
                                    <div class="tab-show">{{ usedTagText }}</div>
                                    <div class="all">{{ usedAllCount }}</div>
                                    <div class="daily">{{ dailyCount }}</div>
                                    <div class="living">{{ lifeCount }}</div>
                                    <div class="buy">{{ buyCount }}</div>
                                    <div class="used">{{ usedCount }}</div>
                                </div>
                            </div>
                            <div class="label-add">
                                <button class="add-btn" @click="showPanel"></button>
                                <div class="add-panel" :class="{'select': panelShow}">
                                    <div class="select">
                                        <div class="header">
                                            <ul :data-eb-active="search.type">
                                                <li @click="search.type = 0">#地點</li>
                                                <li @click="search.type = 1">#熱點</li>
                                                <li @click="search.type = 2">#品牌</li>
                                            </ul>
                                            <input type="text" placeholder="請輸入您想要使用的標籤" v-model="search.name">
                                        </div>
                                        <ul></ul>
                                    </div>
                                    <div class="confirm">
                                        <p>您選擇的標籤</p>
                                        <p>#標籤#</p>
                                        <p>快去以下板塊中使用這個標籤吧</p>
                                        <p>tips: 新標籤在發佈帖子后才能成功創建哦</p>
                                        <div>
                                            <a href="#">
                                                <img src="/src/img/userspace/common/leftmenu/userin_ica4.png">
                                                <span>日誌</span>
                                            </a>
                                            <a href="#">
                                                <img src="/src/img/userspace/common/leftmenu/userin_ica6.png">
                                                <span>生活圈</span>
                                            </a>
                                            <a href="#">
                                                <img src="/src/img/userspace/common/leftmenu/userin_ica8.png">
                                                <span>二手</span>
                                            </a>
                                            <a href="#">
                                                <img src="/src/img/userspace/common/leftmenu/userin_ica7.png">
                                                <span>敗家誌</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sortOrderTabs" :data-eb-active="orderNumber" @click="orderClick">
                                <div class="tab">按發佈時間</div>
                                <div class="tab">按讃好數</div>
                            </div>
                        </div>
                        <div class="item-container">
                          <components :is="itemStyle" v-for="item in activeList" :data="item" :key="item.labelId"></components>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="/src/js/plug/yez_js_Reset.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="/src/js/common/vendor/art-template-3.1.0.min.js"></script>
    <script src="/src/js/userspace/common/userinfo.js" async></script>
    <script src="/src/js/userspace/common/leftmenu.js" async></script>
    <script src="/src/js/userspace/common/whitemenu.js" async></script>
    <script src="/src/js/userspace/common/newspush.js" async></script>
    <script src="/src/js/common/header&search&footer/footer.js" async></script>
    <script src="/src/js/common/page-header.js"></script>
    <script src="/src/js/common/vendor/imagesloaded-4.1.4.min.js"></script>
    <script src="/src/js/common/ebtemplate-jquery.js"></script>
    <script src="/src/js/userspace/label/labellist/labellist1.js"></script>
    <script src="/src/js/common/clickEvent.js"></script>
    <script id="queryLabelForUserSpace" type="text/html">
        <%for(var i = 0, item; (item = content[i++]);) {%>
            <li>
                <span><%=#item.labelName%></span>
            </li>
            <%}%>
    </script>
</body>

</html>
