#userspace-content{
	position:relative;
	padding-bottom: 30px;
}
#find-nav{
	background-color:#fff;
	padding:25px;
	text-align: center;
	position: relative;
}
#find-nav>img.arrow{
	width:30px;
	height:15px;
	position:absolute;
	bottom:0px;
	left:50%;
	transform: translate(-50%,100%);
}
#find-nav .find-nav-btn{
	border:1px solid #aaa;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	color:#aaa;
	display: inline-block;
	font-size:16px;
}

/**********/
#find-nav .selecter-box{
	margin-right:5px;
	display:inline-block;
}
#find-nav .selecter{
	width:120px;
	cursor: pointer;
	margin-right:5px;
	text-align: left;
	text-indent: 10px;
	position:relative;
	display:inline-block;
	border: 1px solid #aaa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    color: #aaa;
    font-size: 16px;
}
#find-nav .selecter:last-of-type{
	margin-right:0px;
}
#find-nav .selecter .selecter-options{
	position:absolute;
	top:100%;
	left:0px;
	background-color:#fff;
	width:100%;
	border:1px solid #aaa;
	border-radius: 6px;
	z-index: 601;
	display: none;
}
#find-nav .selecter .selecter-options div{
	text-align: center;
	text-indent: -2px;
	padding:6px 0px;
	border-bottom:1px solid #aaa;
}
#find-nav .selecter .selecter-options div:last-of-type{
	border-bottom:0px;
}
#find-nav .selecter .selecter-options div:hover{
	color:#fff;
	background-color:#e98900;
}
#find-nav .selecter .selecter-title{
	width:100%;
	height:100%;
	padding:8px 0px;
	position:relative;
	z-index: 601;
	background:url("/src/img/userspace/secondhand/state-arrow.png") 92px center no-repeat #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
#find-nav .selecter .selecter-title.select{
	color:#e98900;
}
#find-nav .shadow{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:600;
	display: none;
}
/**********/


#input-box{
	margin-right:5px;
	padding:8px 5px !important;
}
#input-box input{
	border:0px;
	outline: 0px;
	color:#e98900;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	width:340px;
	padding-left: 6px;
}
::-webkit-input-placeholder {
	color: #ccc;
}
:-moz-placeholder {
	color: #ccc;
}
::-moz-placeholder {
	color: #ccc;
}
:-ms-input-placeholder {
	color: #ccc;
}
#search-btn{
	width:120px;
	color:#fff !important;
	border-color: #e98900 !important;
	background-color:#e98900 !important;
	cursor: pointer;
	padding:8px 0px;
}
.conditions{
	display:none;
}
.conditions p{
	font-weight: bold;
	font-size:16px;
	padding:20px 0px;
}
.conditions .conditions-label{
	text-align: center;
}
.conditions .conditions-label div{
	display: inline-block;
	border:1px solid #d2d2d2;
	font-size:16px;
	padding:2px 15px;
	position:relative;
	color: #e98900;
	margin-right:18px;
}
.conditions .conditions-label div img.arrow{
	height:107.5%;
	position:absolute;
	top:-1px;
	left:0px;
	-webkit-transform: translate(-98%,0px);
	-moz-transform: translate(-98%,0px);
	-ms-transform: translate(-98%,0px);
	-o-transform: translate(-98%,0px);
	transform: translate(-98%,0px);
}
.conditions .conditions-label div img.cancel-btn{
	margin:-2px 0px 0px 8px;
	width:14px;
	cursor: pointer;
}
.conditions .conditions-label div:last-of-type{
	margin-right:0px;
}

.search-result{
	padding:30px 0px;
	text-align: center;
	display: none;
}
.search-result div{
	display:inline-block;
	background-color:#fff;
	padding:5px 30px;
	color:#000;
	font-weight:bold;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	font-size:15px;
}
.search-result div span{
	padding:0px 10px;
	color:#e98900;
}
/*帖子樣式*/
.result-box{
	padding:0px 15px;
	min-height: 500px;
}
.result-box .result-box-item{
	width:32.6%;
	float:left;
	margin:0px 10px 10px 0px;
	text-align: center;
}
.result-box .result-box-item:nth-of-type(3n){
	margin-right:0px;
}
.result-box .result-box-item .result-box-item-inner{
	background-color:#fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	padding:10px;
	position:relative;
	height: 435px;
	overflow: hidden;
}
.result-box .result-box-item .result-box-item-inner .recommen-label{
	position:absolute;
	top:-46px;
	left:-32px;
}
.result-box .result-box-item .result-box-item-inner .shadow-box{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(0,0,0,.4);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	display:none;
	cursor: pointer;
}
.result-box .result-box-item:hover .result-box-item-inner .shadow-box{
	display:block;
}
.result-box .result-box-item .head{
	display:inline-block;
	width:90px;
	height:90px;
	line-height: 90px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	margin-top: 25px;
	overflow: hidden;
	border: 1px solid #efefef;
}
.result-box .result-box-item .head img{
	width: 100%;
}
.result-box .result-box-item .name{
	font-size:20px;
}
.result-box .result-box-item .name img{
	width:18px;
	margin:-4px 0px 0px 4px;
}
.result-box .result-box-item .identity-level{
	text-align:left;
	text-indent: 40px;
	font-size:16px;
}
.result-box .result-box-item .identity-level.user{
	margin-top:28px;
	height: 21px;
	overflow: hidden;
}
.result-box .result-box-item .identity-level.user img{
	width: 160px;
	vertical-align: bottom;
}
.result-box .result-box-item .identity-level.pet{
	margin-top:30px;
	height: 23px;
}
.result-box .result-box-item .identity-level.pet img{
    width: 40px;
    vertical-align: middle;
    margin-top: -10px;
}
.result-box .result-box-item .user-info{
	margin-top:26px;
}
.result-box .result-box-item .user-info li{
	width:25%;
	float:left;
	border-right:1px solid #aaa;
	color:#aaa;
	font-size:16px;
}
.result-box .result-box-item .user-info li:last-of-type{
	border-right:0px;
	margin-right:0px;
}
.result-box .user-skills{
	margin:25px 0px 15px 0px;
	height:67px;
	position:relative;
	color:#aaa;
	padding:0px 10px;
	overflow:hidden;
}
.result-box .user-skills p{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 100%;
}
.result-box .user-skills .user-skills-inner{
	width:300px;
}
.result-box .user-skills .user-skills-inner div{
	float:left;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    padding: 2px 15px;
    position: relative;
    margin-right: 20px;
    margin-left:2px;
    margin-bottom:10px;
}
.result-box .user-skills .user-skills-inner div img.arrow {
    height: 107.5%;
    position: absolute;
    top: -1px;
    left: 0px;
    -webkit-transform: translate(-98%,0px);
    -moz-transform: translate(-98%,0px);
    -ms-transform: translate(-98%,0px);
    -o-transform: translate(-98%,0px);
    transform: translate(-98%,0px);
}
.result-box .result-box-bottom{
	width:100%;
	position:relative;
	text-align: center;
}
.result-box .result-box-bottom img{
	vertical-align: top;
	width:98%;
}
.no-more {
    position: absolute;
    bottom: 0px;
    left: 50%;
    font-size: 16px;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #aaa;
    display: none;
}
/*沒有任何內容*/
.no_result_box{
	text-align: center;
}
.no_result_box img{
	width: 100px;
	margin-top: 60px;
}
.no_result_box p{
    font-size: 18px;
    color: #fff;
    line-height: 38px;
}
