<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="pcollector" class="pcollector-container">
        <div class="collect-box pcollector-panel">
            <div class="panel-header">
                <div class="title">採集圖片</div>
                <span class="panel-close-btn"></span>
            </div>
            <div class="panel-body">
                <div class="picture-box">
                    <div class="title">您可以把這些圖片收藏至您的專屬專輯中哦！</div>
                    <div class="picture-list-box scrollIe scrollOther">
                        <ul class="picture-list">
                            <!-- <li class="picture-item">
                                <div class="item-img img-container">
                                    <img src="https://dummyimage.com/150x150">
                                </div>
                                <div class="item-content">
                                    <textarea class="scrollIe scrollOther"></textarea>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="album-box">
                    <div class="title">選擇一個專輯 or 創建一個新專輯</div>
                    <div class="create-album">
                        <input type="text">
                        <button>創建</button>
                    </div>
                    <div class="album-list-box">
                        <div class="active-album-name">當前選中的專輯為：</div>
                        <div class="list-container scrollIe scrollOther">
                            <ul class="album-list">
                                <li class="album-item yez-active" data-total="12">
                                    <div class="img-container">
                                        <img src="https://dummyimage.com/150x150">
                                    </div>
                                    <span>Album Name</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary">收藏至專輯</button>
            </div>
        </div>
    </div>
</body>

</html>
