@import '../common/mixin.scss';
@import '../common/variable.scss';
@import './spacenav.scss';
@import './dynamic/dynamic.scss';

body {
  background: no-repeat fixed;
  background-size: 100% auto;
}

/*左側菜單欄*/
#left-menu {
  float: left;
  width: 85px;
  border: 1px solid #9da4ad;
  border-top: 0;
  background-color: rgba(0, 0, 0, .4);
  margin-right: 3px;
  > ul > li {
    width: 100%;
    height: 83px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
    > div {
      > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:last-of-type {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #e98900;
        color: #fff;
        font-size: 18px;
        display: none;
        > span {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          letter-spacing: 1px;
        }
      }
    }
    &.select > div:last-of-type,
    &:hover > div:last-of-type {
      display: table;
    }
  }
}

/*點擊發佈顯示彈框*/
#sendpost-leftmenu-box {
  display: none;
  .release-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 899;
  }
  .release-box {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 900;
    transform: translate(-50%, -50%);
    width: 640px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 30px;
    .cancel-btn {
      width: 30px;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      cursor: pointer;
    }
    ul li {
      width: 50%;
      height: 80px;
      float: left;
      overflow: hidden;
      margin: 15px 0;
      a {
        width: 95%;
        height: 100%;
        display: block;
        > div {
          float: left;
          p {
            font-size: 14px;
            color: #e98900;
          }
          > img {
            margin-top: 9px;
          }
          :last-of-type {
            margin-left: 10px;
          }
          > div:first-of-type {
            font-size: 20px;
            font-weight: bold;
            color: #e98900;
            margin-top: 8px;
          }
          > div:last-of-type {
            font-size: 16px;
            color: #aaa;
          }
        }
      }
    }
  }
}
/*右側內容*/
#right-content {
  float: right;
  width: 1307px;
}

/*用戶資料*/
#user-info {
  width: 100%;
  height: 425px;
  overflow: hidden;
}

#user-info .user-info-bg,
#user-info .userinfo-panel {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
}
.userinfo-panel {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-align: center;
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  > * {
    transform: rotateY(180deg);
  }
}

#user-info .user-info-bg img,
#user-info .userinfo-panel img {
  width: 100%;
}


#user-info .user-head {
  font-size: 18px;
  display: inline-block;
  text-align: left;
  margin-top: 70px;
  min-height: 109px;
}

#user-info .user-head .head-img {
  width: 100px;
  height: 100px;
  float: left;
  overflow: hidden;
  margin-right: 20px;
}

#user-info .user-head .head-img img {
  width: 100%;
}

#user-info .user-head .head-info {
  float: left;
}

#user-info .user-head .head-info div:first-of-type {
  margin-top: -5px;
}

#user-info .user-head .head-info div:first-of-type img.sex {
  width: 30px;
  vertical-align: bottom;
  margin-left: 10px;
}

#user-info .user-head .head-info div:nth-of-type(2) {
  margin: 10px 0;
}

#user-info .user-head .head-info div:nth-of-type(2) img {
  vertical-align: middle;
  width: 40px;
  margin-right: 10px;
}

#user-info .userinfo-panel ul {
  display: inline-block;
  font-size: 18px;
}

#user-info .userinfo-panel ul li {
  text-align: center;
  float: left;
  border-right: 1px solid #fff;
  padding: 0 30px;
}

#user-info .userinfo-panel ul li:first-of-type {
  text-align: center;
  padding: 0 5px;
  position: relative;
  width: 60px;
  height: 50px;
}

#go-editor-userinfo .go-editor-userinfo-inner {
  position: absolute;
  width: 100%;
  left: -10px;
  top: -2px;
  padding: 4px 0;
  cursor: pointer;
  display: block;
  color: #fff;
}

#go-editor-userinfo.select .go-editor-userinfo-inner {
  background-color: #e98900;
}

#go-editor-userinfo img {
  position: absolute;
  top: 54px;
  left: 9px;
  width: 20px !important;
  display: none;
}

#go-editor-userinfo.select img {
  display: block;
}

#user-info .userinfo-panel ul li:last-of-type {
  padding-right: 0;
  border-right: 0;
}

#user-info .userinfo-panel ul li:last-of-type img {
  margin-top: 3px;
}

#user-info .user-looking {
  width: 78%;
  margin: 30px auto 55px auto;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 15px;
  font-size: 16px;
  padding: 8px 0;
  letter-spacing: 2px;
}

#user-info .set-point-user-box {
  text-align: center;
  letter-spacing: 2px;
}

#user-info .set-point-user {
  display: inline-block;
  font-size: 16px;
  margin: 30px auto 55px auto;
  text-align: center;
  min-width: 200px;
  background-color: #e98900;
  cursor: pointer;
  position: relative;
}

#user-info .set-point-user span {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px 20px;
}

#user-info .set-point-user div {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 38px;
  background-color: #666;
  color: #fff;
  top: 100%;
  left: 0;
  display: none;
}

#user-info .user-looking-set-point-user-box {
  height: 123px;
  overflow: hidden;
}

#user-info-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #fff;
  border: 2px solid #ff5b77;
  padding: 10px 40px;
  color: #ff5b77;
  font-size: 16px;
  box-shadow: 4px 4px 30px #aaa;
  border-radius: 8px;
  display: none;
}

#user-info-success img {
  width: 30px;
  margin-top: -3px;
  margin-right: 10px;
}

#user-info-focus-box {
  display: none;
}

#user-info-focus-box .shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 889;
  background-color: rgba(0, 0, 0, .4);
}

#user-info-focus-box .cancel-tips-box {
  position: fixed;
  z-index: 890;
  box-shadow: 4px 4px 30px #aaa;
  background-color: #fff;
  text-align: center;
  width: 510px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
}

#user-info-focus-box .cancels-title {
  padding: 10px 0;
  font-size: 18px;
  background-color: #FF527C;
  color: #fff;
}

#user-info-focus-box .cancels-xc {
  margin-top: 20px;
  text-indent: -30px;
}

#user-info-focus-box .cancel-tips-text {
  padding: 15px 0 4px 0;
  font-size: 18px;
}

#user-info-focus-box .sure-button {
  display: inline-block;
  margin: 15px 0;
}

#user-info-focus-box .sure-cancel, #user-info-focus-box .cancel-sure {
  background-color: #FF527C;
  color: #FFFFFF;
  padding: 8px 45px;
  text-align: center;
  line-height: 30px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 16px;
  float: left;
}

#user-info-focus-box .cancel-sure {
  margin-left: 20px;
  background-color: #b3b3b3;
}

// 左侧空间导航面板
.white-container {
  float: left;
  width: 335px;
  padding: 15px 10px;
  background-color: rgba(255, 255, 255, .3)
}

.space-nav {
  min-height: 985px;
  width: 100%;
  li {
    height: 85px;
    line-height: 85px;
    font-size: 24px;
    background: #fff;
    color: $color10;
    margin-bottom: 5px;
    position: relative;
    padding-left: 100px;
    cursor: pointer;
    span:last-of-type {
      padding-left: 34px;
      font-size: 18px;
      color: #aaa;
    }
    &:hover {
      background-color: $color10;
      color: #fff;
    }
    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: " ";
      width: 85px;
      height: 85px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
    }
    &[data-space-type="dynamic"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-dynamic.png");
    }
    &[data-space-type="love"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-love.png");
    }
    &[data-space-type="praise"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-praise.png");
    }
    &[data-space-type="daily"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-daily.png");
    }
    &[data-space-type="album"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-album.png");
    }
    &[data-space-type="life"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-life.png");
    }
    &[data-space-type="buy"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-buy.png");
    }
    &[data-space-type="used"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-used.png");
    }
    &[data-space-type="fair"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-fair.png");
    }
    &[data-space-type="label"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-label.png");
    }
    &[data-space-type="shop"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-shop.png");
    }
    &[data-space-type="relation"]::before {
      background-image: url("/src/img/userspace/spacenav/icon-relation.png");
    }
  }
  @for $i from 0 through 11 {
    &[data-active="#{$i}"] > li:nth-of-type(#{$i+1}) {
      background-color: $color10;
      color: #fff;
    }
  }
}

// #white-menu {
//   min-height: 985px;
//   width: 100%;
//   li {
//     height: 85px;
//     line-height: 85px;
//     font-size: 24px;
//     background-color: #fff;
//     margin-bottom: 5px;
//     a {
//       height: 100%;
//       display: block;
//       color: #e98900;
//     }
//     span:first-of-type {
//       padding-left: 20px;
//     }
//     span:last-of-type {
//       padding-left: 34px;
//       font-size: 18px;
//       color: #aaa;
//     }
//   }
// }
// #white-menu li.select a {
//   background-color: #e98900;
//   color: #fff;
// }

// #white-menu li.select span:last-of-type {
//   color: #fff;
// }

// #white-menu li:last-of-type {
//   margin-bottom: 0;
// }

// #white-menu li div {
//   width: 85px;
//   height: 100%;
//   float: left;
//   position: relative;
//   background-color: #fff;
// }

// #white-menu li div img {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

/*新品推送*/
#news-push {
  width: 100%;
  margin-top: 15px;
  background-color: #eee;
  min-height: 1045px;
}

#news-push .news-push-title {
  height: 45px;
  background-color: #ff5b77;
  color: #fff;
  line-height: 45px;
  padding: 0 20px;
}

#news-push .news-push-title div:first-of-type {
  font-size: 24px;
  float: left;
}

#news-push .news-push-title div:last-of-type {
  font-size: 18px;
  float: right;
}

#news-push li {
  padding: 10px 15px;
  background-color: #fff;
  margin-bottom: 10px;
}

#news-push li:last-of-type {
  margin-bottom: 0;
}

#news-push li .news-push-shop {
  height: 80px;
}

#news-push li .shop-head,
#news-push li .shop-info {
  float: left;
}

#news-push li .shop-head {
  width: 80px;
  height: 80px;
}

#news-push li .shop-head img {
  width: 100%;
  height: 100%;
}

#news-push li .shop-info {
  height: 100%;
  font-size: 16px;
  margin-left: 15px;
}

#news-push li .shop-info div:first-of-type {
  font-size: 24px;
}

#news-push .news-push-shops {
  margin-top: 10px;
}

#news-push .shop-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#news-push .shop-img {
  width: 100%;
}

#news-push .shop-img img {
  width: 100%;
}

#news-push .shop-price {
  font-size: 16px;
  color: #aaa;
  padding: 10px 0 6px 0;
}

#news-push .shop-price div:first-of-type {
  float: left;
}

#news-push .shop-price div:first-of-type span {
  text-decoration: line-through;
}

#news-push .shop-price div:last-of-type {
  float: right
}

#news-push .shop-price div:last-of-type span {
  color: #ff5b77;
}

#news-push .save-for {
  font-size: 16px;
  text-align: right;
  color: #f8af00;
}

#news-push .news-push-box {
  height: 1000px;
  overflow: hidden;
  position: relative;
}

#news-push .news-push-box .news-push-box-inner {
  position: absolute;
  top: 0;
  left: 0;
}

/*內容板塊*/
#userspace-content {
  float: right;
  width: 970px;
  background-color: rgba(255, 255, 255, .3);
  iframe {
    width: 100%;
    min-height: 1000px;
    body {
      width: 100% !important;
    }
  }
}
