/*內容*/
.userspace-content-inner{
	background-color:#fff;
	position:relative;
}
.person-swapper{
	padding: 26px;
	padding-bottom: 0px;
}
.publisherMessBox {
    padding: 20px 5px;
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 25px;
    position:relative;
}
.messBox_mess_time>p{
	float:left;
}
.messBox_mess_time>p.articleType{
	margin-right:10px;
}
#post-delete {
    float: right;
    margin: 41px 0px 0px 0px;
    color: #aaa;
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    border: 1px solid #aaa;
}
#post-delete img{
	margin:-2px 5px 0px 0px;
}

.articleBox {
    margin-top: 35px;
}
.atricle_title {
    font-weight: bold;
    font-size: 20px;
}
.articleMain {
    margin-top: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 16px;
    overflow: hidden;
}
.articleMain p {
    color: #989898;
    float: left;
    font-size: 18px;
}
.articleMain p a{
	display: inline-block;
}
.articleMain a.at-content{
    color: #e98900;
    cursor: pointer;
}
.articleMain a.label-content{
    color: #ff567c;
    margin-left: 5px;
}
.articleMain img{
	width: 35px;
}
.atricle_emjo {
    overflow: hidden;
    margin: 10px 0;
}
.atricle_emjo ul li {
	display:inline-block;
    margin-right:10px;
}
.atricle_emjo ul li img {
    width:80px;
}
.atricle_label {
    line-height: 30px;
    margin-top: 20px;
}
.atricle_label ul li {
    color: #989898;
    font-size:16px;
}
.atricle_label ul li a {
    color: #ff567c;
    margin-right:10px;
}
.otherMessBox {
    margin-top: 20px;
}
.otherMess_title {
    font-weight: bold;
    color: #989898;
    margin-bottom: 20px;
}
.otherMess_commodityEach:nth-child(2n-1) {
    margin-left: 0px;
}
.otherMess_commodityEach {
    float: left;
    border: 1px solid #e3e3e3;
    width: 399px;
    margin-left: 20px;
}
.commodityEach_left {
    float: left;
    width:100px;
    height:100px;
    overflow: hidden;
}
.commodityEach_left img {
    width: 100%;
}
.commodityEach_right {
    float: left;
    margin-left:14px;
}
.commodityEach_right p {
	max-width: 280px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
    margin: 10px 0;
    letter-spacing: 2px;
}
.commodityEach_right ul li {
    float: left;
    margin-left: 26px;
}
.commodityEach_right ul li:nth-child(1) {
    margin-left: 0px;
}
.commodityEach_right ul li div p {
    font-size: 14px;
    text-align: center;
    color: #989898;
}
.commodityBox_indexBox div {
    float: left;
    width: 16px;
}
.commodityBox_indexBox span {
    font-size: 14px;
    color: #FF567C;
    margin-left: 5px;
    font-weight: 600;
}
.commodityBox_indexBox div img {
    width: 100%;
}
.otherMess_shop {
    margin-top: 30px;
}
.otherMess_title {
    font-weight: bold;
    color: #989898;
    margin-bottom: 20px;
}
.otherMess_shop ul{
	width:100%;
}
.otherMess_shop ul li {
    float: left;
    margin-left: 1.333333%;
    width:21.35%;
    height:96px;
    overflow: hidden;
}
.otherMess_shop ul li img{
	width:100%;
}
.otherMess_shop ul li:nth-child(1) {
    margin-left: 0px;
}
.click{
	display:none;
}
/*上一篇下一篇*/
.other-post .page-items .items-text p{
    color: #E98900;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    margin:5px 0px;
}
.articleType span {
    background-color: #15d062;
    padding: 3px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #FFFFFF;
}
/*評論回復氣泡顏色*/
.statistics .statistics-title li.select .statistics-bubble {
    border-color: #15d062;
}