@mixin high-light {
  background: #e98900 !important;
  color: #fff !important;
}
body {
  // overflow: hidden;
  width: 970px;
}
.tabsBar {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background: #ffffff;
  &:after {
    content: " ";
    clear: both;
    display: table;
  }
  .labelTabs {
    width: 40%;
    height: 100%;
    float: left;
    &[data-eb-active="0"] .tab:first-of-type {
      @include high-light;
    }
    &[data-eb-active="1"] .tab:last-of-type,
    &[data-eb-active="2"] .tab:last-of-type,
    &[data-eb-active="3"] .tab:last-of-type,
    &[data-eb-active="4"] .tab:last-of-type,
    &[data-eb-active="5"] .tab:last-of-type {
      @include  high-light;
    }
    .tab {
      float: left;
      &.tab-created {
        width: 40%;
        height: 100%;
        font-size: 20px;
        color: #e89800;
        cursor: pointer;
      }
      &.tab-used {
        width: 60%;
        height: 100%;
        font-size: 20px;
        color: #e89800;
        background: #fff;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:hover {
          height: calc(70px * 6);
        }
        > div:first-of-type {
          background: inherit;
          color: inherit;
        }
        > div {
          height: 70px;
          width: 100%;
          color: #e89800;
          background: #fff;
          &:hover {
            background: #e98900 !important;
            color: #fff !important;
          }
        }
      }
    }
  }
  .sortOrderTabs {
    width: 40%;
    height: 100%;
    float: right;
    position: relative;
    overflow: hidden;
    &::after {
      height: 6px;
      width: 33.33333%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #e89800;
      content: " ";
      transition: left 0.2s;
    }
    &[data-eb-active="0"]::after {
      left: 0;
    }
    &[data-eb-active="1"]::after {
      left: 33.33333%;
    }
    &[data-eb-active="2"]::after {
      left: 66.66666%;
    }
    > .tab {
      width: 33.33333%;
      height: 100%;
      float: left;
      color: #aaa;
      cursor: pointer;
    }
  }
  .label-add {
    width: 100px;
    height: 100%;
    float: right;
    position: relative;
    > .add-btn {
      border: 0;
      height: 50px;
      width: 50px;
      background: url("/src/img/userspace/label/label-add.png") no-repeat 50% 50%;
      margin: 10px 0;
      outline: none;
    }
    > .add-panel {
      z-index: 3;
      position: absolute;
      width: 400px;
      right: 2px;
      top: 66px;
      &::before {
        border-bottom: 10px solid #e89800;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        content: " ";
        position: absolute;
        top: -10px;
        right: 38px;
      }
    }
  }
}
.add-panel {
  line-height: normal;
  display: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .select {
    border-radius: 10px;
    overflow: hidden;
    display: block;
    .header {
      background: #e89800;
      padding: 10px;
      ul {
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
        &[data-eb-active="0"] li:nth-of-type(1),
        &[data-eb-active="1"] li:nth-of-type(2),
        &[data-eb-active="2"] li:nth-of-type(3) {
          background: #ff567c;
        }
        li {
          width: 33.33333%;
          height: 34px;
          line-height: 34px;
          float: left;
          color: #fff;
          font-size: 18px;
          cursor: pointer;
        }
      }
      input {
        height: 40px;
        padding: 0 16px;
        width: 100%;
        border: 0;
        font-size: 14px;
        outline: none;
      }
    }
    > ul {
      width: 100%;
      background: #fff;
      max-height: 284px;
      overflow: auto;
      li {
        margin: 0 20px;
        line-height: 56px;
        font-size: 17px;
        overflow: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:last-of-type {
          border-bottom: 0;
        }
        padding: 0 5px;
        > span {
          float: left;
          font-size: 18px;
        }
        > button {
          float: right;
          border: 0;
          background: #ff567c;
          color: #fff;
          height: 34px;
          font-size: 14px;
          width: 100px;
          border-radius: 10px;
          margin: 11px 0;
        }
      }
    }
  }
  .confirm {
    display: none;
    background: #fff;
    border-top: 23px solid #e89800;
    border-radius: 10px;
    p:nth-of-type(1) {
      margin-top: 20px;
    }
    p:nth-of-type(2) {
      font-size: 20px;
      color: #ff567c;
    }
    p:nth-of-type(3) {
      margin-top: 30px;
    }
    p:nth-of-type(4) {
      color: #bbb;
      font-size: 14px;
    }
    > div {
      margin: 21px 40px 0;
      overflow: hidden;
      a {
        overflow: hidden;
        color: #e89800;
        width: 50%;
        display: block;
        float: left;
        height: 92px;
        margin-bottom: 9px;
      }
      img {
        display: block;
        margin: 0 auto;
        width: 64px;
      }
    }
  }
}
.item-container {
    padding: 10px;
  > div {
    display: none;
    &::after {
      clear: both;
      display: table;
      content: " ";
    }
  }
  &[data-eb-active="0"] > div:first-of-type {
    display: block;
  }
  &[data-eb-active="1"] > div:nth-of-type(2) {
    display: block;
  }
  &[data-eb-active="2"] > div:last-of-type {
    display: block;
  }
  .label-item{
    width:48.5%;
    background-color:#fff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    .label-picture img{
      width: 100%;
    }
    .label-describe{
      padding:15px 20px;
      letter-spacing: 1px;
    }
    .label-name{
      color:#e98900;
      font-size:20px;
      margin-top:15px;
    }
    .label-create-time{
      padding:8px 0px;
      color:#aaa;
    }
    .label-create-time img{
      margin:-2px 6px 0px 0px;
    }
    .label-create-time span{
      color:#e98900;
      padding-left:6px;
    }
    .label-num{
      padding:20px 0px;
      border-bottom: 1px solid #ddd;
    }
    .label-num div{
      width:48%;
      float:left;
      color:#aaa;
    }
    .label-num div:first-of-type{
      border-right: 1px solid #ddd;
    }
    .label-num div img{
      margin:-2px 6px 0px 0px;
    }
    .label-post{
      text-align: left;
      padding: 15px 0px 5px 0px;
    }
    .label-post div{
      color:#aaa;
      padding-bottom:15px;
    }
    .label-post ul li{
      font-size:16px;
      padding-bottom:15px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .label-post ul li:last-of-type{
      padding-bottom: 0px;
    }
    .label-post ul li img{
      margin:-2px 6px 0px 0px;
    }
    .label-post ul li.label-master img{
      margin:0px 6px 0px 0px;
    }
    .label-post ul li.label-none{
      color:#aaa;
    }
    .label-article{
      margin-top:22px;
      text-align: left;
    }
    .label-article div{
      color:#aaa;
    }
    .label-article p{
      margin:10px 0px;
      font-size:16px;
      height:99px;
      line-height:26px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4;
    }
  }
  .post-item{
    width:48.5%;
    background-color:#fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }
  .post-item .post-picture{
    width: 100%;
  }
  .post-item .post-picture img{
    width: 100%;
  }
  .post-item .post-content{
    padding:20px;
  }
  .post-item .post-content .title .head{
    float:left;
    width:55px;
    height:55px;
    overflow: hidden;
    margin-right: 15px;
  }
  .post-item .post-content .title .head img{
    width:100%;
  }
  .post-item .post-content .title .post-state{
    float:left;
    text-align: left;
  }
  .post-item .post-content .title .post-state .post-title{
    font-size:18px;
    padding:6px 0px 2px 0px;
  }
  .post-item .post-content .title .post-state .post-time-state{
    color: #aaa;
    font-size:14px;
  }
  .post-item .post-content .title .post-state .post-time-state img{
    margin: -3px 0px 0px 0px;
  }
  .post-item .post-content .title .post-state .post-time-state span{
    padding-left:4px;
  }
  .post-item .post-content .title .post-state .post-time-state span.state{
    font-size:16px;
    color:#e98900;
  }
  .post-item .post-content .article{
    margin: 25px 0px;
      font-size: 16px;
      height: 99px;
      line-height: 26px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4;
  }
  .post-item .post-content .post-num{
    padding:16px 0px;
  }
  .post-item .post-content .post-num li{
    float:left;
    width:33.333333%;
    text-align: center;
    color:#aaa;
    border-right: 1px solid #ccc;
  }
  .post-item .post-content .post-num li:last-of-type{
    border-right: 0px;
  }
  .post-item .post-content .post-num li img{
    margin:-2px 8px 0px 0px;
  }
  .post-item .post-content .post-num li:first-of-type img,
  .post-item .post-content .post-num li:last-of-type img{
    margin:-4px 8px 0px 0px;
  }
  .post-item .post-content .post-label{
    border-top:1.5px solid #dfdfdf;
    position:relative;
    margin:5px 0px;
    padding-top:16px;
  }
  .post-item .post-content .post-label img.arrow{
    position: absolute;
    top:-2px;
    left:60px;
  }
  .post-item .post-content .post-label ul li{
    text-align: left;
    margin-bottom: 18px;
  }
  .post-item .post-content .post-label ul li:last-of-type{
    margin-bottom: 0px;
  }
  .post-item .post-content .post-label .post-use-label{
    color:#e98900;
    font-size:20px;
    margin-bottom: 6px;
  }
  .post-item .post-content .post-label .post-use-head{
    float:left;
    width:55px;
    height:55px;
    overflow: hidden;
  }
  .post-item .post-content .post-label .post-use-head img{
    width:100%;
  }
  .post-item .post-content .post-label .post-use-name-from{
    float:left;
    margin-left:12px;
  }
  .post-item .post-content .post-label .post-use-name{
    font-size:16px;
    padding: 6px 0px 2px 0px;
  }
  .post-item .post-content .post-label .post-use-name img{
    width:18px;
    margin:-4px 0px 0px 6px;
  }
  .post-item .post-content .post-label .post-use-from{
    font-size:14px;
    color:#aaa;
  }
}
