/*氣泡框*/
.statistics .statistics-title li.select .statistics-bubble{
	border-color:#02bbc2;
}
/*箭頭*/
.all-look .all-look-bottom .bottom-arrow{
	color:#02bbc2;
}
/*帖子類型*/
.messBox_mess_time p:last-of-type {
	margin-left:10px;
}
.articleType span {
    background-color: #02bbc2;
    padding: 3px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #FFFFFF;
}
/*二手特殊樣式*/
.commodity_Mess {
    margin-top: 30px;
    border-top: 2px dashed #ABABAB;
    border-bottom: 2px dashed #ABABAB;
}
.commodity_Mess .commodity_MessUl {
    width: 598px;
    float: left;
    margin-top: 18px;
}
.commodity_Mess .commodity_MessUl li {
    float: left;
    padding: 0px 15px 15px 15px;
    width: 25%;
    height:61px;
    border-bottom: 2px dashed #ABABAB;
    border-right: 2px dashed #ABABAB;
    text-align: center;
}
.commodity_Mess .commodity_MessUl li:nth-child(5),
.commodity_Mess .commodity_MessUl li:nth-child(6),
.commodity_Mess .commodity_MessUl li:nth-child(7),
.commodity_Mess .commodity_MessUl li:nth-child(8){
    border-bottom: none;
    padding: 15px 15px 0px 15px;
}
.commodity_Mess .commodity_MessUl li p:nth-child(1) {
    color: #ABABAB;
}
.commodity_Mess .commodity_MessUl li p:nth-child(2) {
    color: #00bac2;
    margin-top: 2px;
    font-size: 16px;
}
.commodity_Mess .commodity_MessUl li:nth-child(7) p:nth-child(2){
	color:#ff567c;
	font-weight: bold;
}
.commodity_Mess_right-father{
    width: 210px;
    float: left;
    margin-left: 10px;
}
.commodity_Mess_right {
    background-color: #00bac2;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 12px 10px;
    margin-top: 5px;
    margin-bottom: 6px;
    width:100%;
}
.leftIconBox {
    float: left;
    width: 25px;
    margin-top: 8px;
}
.leftIconBox img {
    width: 100%;
}
.rightBox {
    float: left;
    margin-left: 10px;
}
.rightBox p {
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 1px;
}
.rightBox p:nth-child(2) {
    margin-top: 6px;
}
/*帖子樣式*/
.pillar-all{
	width:220px;
	visibility: hidden;
	display: absolute;
}
.pillar-all .pillar {
    width: 100%;
    background: url("/src/img/social/label/labeldetail/hobg.png") center bottom no-repeat;
    background-size: 100%;
    padding-bottom: 10px;
    position:relative;
}
.pillar-all .pillar .box-shadow{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(0,0,0,.1);
	z-index: 1;
	display: none;
}
.pillar-all:hover .pillar .box-shadow{
	display: block;
}
.pillar-all .pillar .page-main {
    position: relative;
    border: 1px solid #ccc;
    border-bottom: 0px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    background-color: #fff;
}
.pillar-all .pillar .page-main .top-banner {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px 7px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    background-color: #FF5A78;
    border-radius: 10px 0px 0px 0px;
    -webkit-border-radius: 10px 0px 0px 0px;
    -moz-border-radius: 10px 0px 0px 0px;
    -ms-border-radius: 10px 0px 0px 0px;
    -o-border-radius: 10px 0px 0px 0px;
}
.pillar-all .pillar .page-main a {
    display: block;
}
.pillar-all .pillar .page-main img.page-main-head-img {
    width: 100%;
    min-height: 100px;
    margin-bottom: -34px;
}
.pillar-all .pillar .page-main .post-main-text {
    padding: 14px 14px 18px 14px;
    margin-top: 34px;
}
.pillar-all .pillar .page-main .post-main-text p {
    margin-bottom: 14px;
    font-weight: bold;
    color: #03BBC3;
    font-size: 15px;
}
.pillar-all .pillar .page-main .post-main-text .post-title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
}
.pillar-all .pillar .page-main .post-main-text ul {
    margin-top: 14px;
    color: #03BBC3;
}
.pillar-all .pillar .page-main .post-main-text ul li{
	margin-bottom:4px;
}
.pillar-all .pillar .page-main .post-main-text ul li:last-of-type{
	margin-bottom: 0px;
}
.pillar-all .pillar .page-main .post-main-text ul li.area {
    background: url("/src/img/social/label/labeldetail/area.png") 1px 3px no-repeat;
    text-indent: 20px;
}
.pillar-all .pillar .post-number {
    margin-top: 18px;
    color: #bbb;
}
.pillar-all .pillar .laster {
    position: relative;
    border: 1px solid #ccc;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}
.pillar-all .pillar .laster .laster-num {
    background-color: #03BBC3;
}
.pillar-all .pillar .laster .laster-num li {
    color: #fff;
    float: left;
    width: 33.333333%;
    text-align: center;
    padding: 32px 0px 10px 0px;
}
.pillar-all .pillar .laster .laster-num li:first-of-type {
    background: url("/src/img/social/liveshot/ProdigalTopicList/eye-w.png") 26px 14px no-repeat;
}
.pillar-all .pillar .laster .laster-num li:nth-of-type(2) {
    background: url("/src/img/social/liveshot/ProdigalTopicList/good-w.png") 26px 10px no-repeat;
}
.pillar-all .pillar .laster .laster-num li:last-of-type {
    background: url("/src/img/social/liveshot/ProdigalTopicList/message-w.png") 26px 13px no-repeat;
}
.pillar .page-main .laster-look {
    margin-top: 34px;
    border-top: 0px;
    padding: 15px;
}
.pillar .page-main .laster-look .laster-head {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height:59px;
    overflow: hidden;
    float: left;
}
.pillar .page-main .laster-look .laster-head img {
    width: 100%;
}
.pillar .page-main .laster-look .laster-text {
    margin: 10px 0px 0px 10px;
    float: left;
}
.pillar .page-main .laster-look .laster-text .laster-text-name {
    font-size: 18px;
    font-weight: bold;
}
.pillar .page-main .laster-look .laster-text .laster-text-name div{
	float:left;
	max-width: 98px;
	height:25px;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.pillar .page-main .laster-look .laster-text .laster-text-name img {
    width: 18px;
    height: 18px;
    float:left;
    margin:2px 0px 0px 2px;
}
.pillar .page-main .laster-look .laster-text .laster-text-num {
    font-size: 14px;
    color: #999;
    font-weight: normal;
}
.pillar .page-main .post-second-line {
    width: 88%;
    border: 1px solid #03BBC3;
    margin: 0px auto;
}
/*狀態*/
.pillar-all .close-bg{
	position:absolute;
	top:0px;
	left:0px;
	bottom:10px;
	right:0px;
	z-index: 1;
	background-color:rgba(0,0,0,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}
.pillar-all .close-bg img{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
/*帖子*/
.pillar-all.mine .pillar .page-main .post-main-text{
	margin-top:0px;
}
