.editor-top.mine,
.album-poster .laster-text-head,
.album-poster .laster-text-num .laster-text-num-first
#album-collect{
	display: none;
}
.album-poster .laster-text-num.mine{
	float: right;
}
#contenteditable-btn,
#contenteditable-save{
	float:right;
    width: 90px;
    text-align: center;
    padding: 8px 15px;
    border: 1px solid #aaa;
    color: #aaa;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size:14px;
    margin-top: 3px;
}
#contenteditable-btn img,
#contenteditable-save img{
	margin: -3px 6px 0px 0px;
}
#contenteditable-save{
	background-color:#E98900;
	color:#fff;
	border-color:#E98900;
}
#contenteditable-save img{
	width:16px;
}
/*修改成功提示*/
.chagne-success-tips{
	position:fixed;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index:999;
    background-color: #fff;
    border: 2px solid #ff5b77;
    padding: 10px 40px;
    color: #ff5b77;
    font-size: 16px;
    display:none;
    box-shadow: 4px 4px 30px #aaa;
}
.chagne-success-tips img{
	width:30px;
	margin-top:-3px;
	margin-right:10px;
}
/*修改專輯資料陰影*/
#album-change-shadow{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(0,0,0,.6);
	z-index:500;
	display:none;
}
/*更改封面*/
#change-cover-box{
	display:none;
}
#change-cover-box .cover-box-shadow{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(0,0,0,.6);
	z-index:600;
}
#change-cover-box .cover-box-select{
	width: 570px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 601;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#change-cover-box .cover-box-select .close-btn{
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    -webkit-transform: translate(50%,-50%);
    -moz-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    cursor: pointer;
}
#change-cover-box .cover-box-select .cover-box-select-title{
    background-color: #E98900;
    font-size: 16px;
    color: #fff;
    padding: 8px 30px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
#change-cover-innerbox{
	padding:10px;
	padding-right:5px;
}
#change-cover-box .cover-box-select ul{
	height:535px;
	overflow-y:auto;
	overflow-x: hidden;
}
#change-cover-box .cover-box-select ul li{
	float:left;
	width:31%;
	height:168px;
	line-height:168px;
	margin-right:3%;
	margin-bottom:20px;
	background-color:#fefefe;
	cursor: pointer;
	position:relative;
	overflow: hidden;
}
#change-cover-box .cover-box-select ul li img{
	width:100%;
}
#change-cover-box .cover-box-select ul li:nth-of-type(3n){
	margin-right:0px;
}
#change-cover-box .cover-box-select ul li .shadow{
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	background-color:rgba(0,0,0,.4);
	display:none;
}
#change-cover-box .cover-box-select ul li:hover .shadow{
	display:block;
}
#no-cover-album,
#other-album-no-post{
	text-align: center;
	cursor: default;
}
#no-cover-album img,
#other-album-no-post img{
	margin-top:80px;
}
#no-cover-album div,
#other-album-no-post div{
	margin-top:10px;
	color:#ccc;
	font-size:18px;
}
/*移動專輯*/
#album-move{
	display:none;
}
#album-move .album-move-shadow{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,.4);
    z-index: 988;
}
#album-move .album-move-box{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
    z-index: 988;
    width: 570px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#album-move .album-move-box .album-move-box-inner{
	padding:0px 30px;
}
#album-move .album-move-box .album-move-text-title{
	padding:15px 0px;
	color:#555;
	font-size:16px;
}
#album-move .album-move-box .close-btn{
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    -webkit-transform: translate(50%,-50%);
    -moz-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    cursor: pointer;
    cursor: -ms-pointer;
}
#album-move .album-move-box .album-move-title{
    background-color: #E98900;
    font-size: 16px;
    color: #fff;
    padding: 8px 30px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
#album-move .album-move-box .album-move-list{
	width:100%;
	height:120px;
	overflow-y: hidden;
	overflow-x: auto;
	padding-bottom:20px;
}
#album-move .album-move-box .move-list{
	min-width:100%;
	height:100%;
}
#album-move .album-move-box .move-list li{
	float:left;
	width:100px;
	height:100px;
	margin-right:10px;
	position:relative;
	overflow: hidden;
	border:1px solid #aaa;
}
#album-move .album-move-box .move-list li:last-of-type{
	margin-right:0px;
}
#album-move .album-move-box .move-list li img.move-list-img{
	width:100%;
	height:100%;
}
#album-move .album-move-box .move-list li img.album-close-btn{
	position:absolute;
	top:2px;
	right:2px;
	cursor: pointer;
	z-index:30;
}
#album-move .album-move-box .album-create{
    height: 40px;
    width: 100%;
    position: relative;
    background: #fff;
    border:1px solid #ccc;
}
#album-move .album-move-box .album-create .input-count{
	position:absolute;
	top:50%;
	-webkit-transform: translate(0px,-50%);
	-moz-transform: translate(0px,-50%);
	-ms-transform: translate(0px,-50%);
	-o-transform: translate(0px,-50%);
	transform: translate(0px,-50%);
	right:110px;
}
#album-move .album-move-box .album-create .input-count span{
	color:#E98900;
}
#album-move .album-move-box .album-create input{
    float: left;
    width: 80%;
    height: 100%;
    outline: 0px;
    border: 0px;
    line-height: 40px;
    padding: 0px 10px;
    color: #E98900;
    letter-spacing: 1px;
    background-color:#FDF5EA;
}
#album-move .album-move-box .album-create div{
    position: absolute;
    right: 0px;
    height: 100%;
    width: 20%;
    background-color: #E98900;
    line-height: 40px;
    text-align: center;
    text-indent: 24px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    cursor: -ms-pointer;
    background: url("/src/img/social/easylive/focus-white.png") 24px 10px no-repeat #E98900;
    background-size: 18px 18px;
    -webkit-background-size: 18px 18px;
    -moz-background-size: 18px 18px;
    -ms-background-size: 18px 18px;
    -o-background-size: 18px 18px;
}
#album-move .album-move-box .album-create div.no-select{
	background-color:#ccc;
}
#album-move .album-move-box .album-select{
	width:100%;
	height:270px;
	overflow-y: auto;
	overflow-x: hidden;
}
#album-move .album-move-box .album-select ul{

}
#album-move .album-move-box .album-select ul li{
	float: left;
    width: 18.4%;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    cursor: -ms-pointer;
    position: relative;
}
#album-move .album-move-box .album-select ul li:nth-of-type(5n){
	margin-right:0px;
}
#album-move .album-move-box .album-select ul li .collect-list-div{
    width: 100%;
    height: 95px;
    overflow: hidden;
    position: relative;
}
#album-move .album-move-box .album-select ul li .collect-list-div .collect-list-div-img{
	width: 100%;
}
#album-move .album-move-box .album-select ul li .collect-list-div:first-of-type div.img-number {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #E98900;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
}
#album-move .album-move-box .album-select ul li.select .collect-list-div:first-of-type div.collect-select{
	display:block;
}
#album-move .album-move-box .album-select ul li .collect-list-div:first-of-type div.collect-select {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.5);
    display: none;
}
#album-move .album-move-box .album-select ul li .collect-list-div:first-of-type div img {
    display: block;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#album-move .album-move-box .album-select ul li .collect-list-div:nth-of-type(2) {
    color: #666;
    text-align: center;
    height: 20px;
    overflow: hidden;
}
#album-move .album-move-box .move-btn-outer{
	border-top:1px solid #ccc;
	padding:15px 0px;
	text-align: center;
	margin-top:15px;
}
#album-move .album-move-box .move-btn{
	display:inline-block;
    padding: 4px 15px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    cursor: -ms-pointer;
    background-color:#E98900;
}
/*刪除帖子*/
#delete-post{
	display:none;
}
/*修改專輯資料*/
#change-post{
	display:none;
}
/*提示框*/
.yez-tips-box {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}
.delete-post-shadow{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:889;
	background-color:rgba(0,0,0,.4);
}
.cancel-tips-box {
    position: fixed;
    z-index: 900;
    box-shadow: 4px 4px 30px #aaa;
    background-color: #fff;
    text-align: center;
    width: 510px;
}
.cancels-title {
    padding: 10px 0px;
    font-size: 18px;
    background-color: #FF527C;
    color: #fff;
}
.cancels-xc {
    margin-top: 20px;
    text-align: -30px;
}
.cancels-xc img{
	width: 180px;
}
.cancel-tips-text {
    padding: 15px 0px 4px 0px;;
    font-size: 18px;
}
.sure-button {
    display: inline-block;
    margin:15px 0px;
}
.sure-cancel,
.cancel-sure{
    background-color: #FF527C;
    color: #FFFFFF;
    padding: 8px 45px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 16px;
    float: left;
}
.cancel-sure {
    margin-left: 20px;
    background-color: #b3b3b3;
}
